<div class="main-pattern">
  <div class="container white-bg">
    <div class="row">
      <div class="col s12">
        <% User.all.each do |receiver| %>
          <% if receiver.id == (params[:to]).to_i %>
            <% @receiver = receiver %>
          <% end %>
        <% end %>
        <% if @receiver.user_type == 'student'%>
          <h4>Send message to <%= @receiver.student_profile.first_name %></h4>
        <% elsif @receiver.user_type == 'organisation' %>
          <h4>Send message to <%= @receiver.organisation.company_name %></h4>
        <% end %>
        <%= render 'form' %>
        <br>
        <% @from = User.find(params[:to])%>
        <% if @from.user_type == 'student' %>
          <%= link_to 'Back to Messages with ' + @from.student_profile.full_name, pages_conversations_path(contact: params[:to], my_id: params[:from]) %>
        <% elsif @from.user_type == 'organisation' %>
          <%= link_to 'Back to Messages with ' + @from.organisation.company_name, pages_conversations_path(contact: params[:to], my_id: params[:from]) %>
        <% end %>

      </div>
    </div>
  </div>
</div>
