<%= simple_form_for @university_education do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

      <%= f.input :degree, label: 'Qualification:', collection: ['Postgraduate', 'Undergraduate', 'TAFE/Diploma', 'HSC'] %>
      <%= f.input :field_of_study, input_html: { maxlength: 80 } %>
      <%= f.input :university, input_html: { maxlength: 80 } %>
      <%= f.input :school, input_html: { maxlength: 80 } %>
      <%= f.input :year_ended, input_html: { maxlength: 4 } %>
      <% if params[:student_profile_id] %>
        <%= f.input :student_profile_id, :as => :hidden, input_html: { value: params[:student_profile_id]} %>
        <!-- Use the :input_html option  to pass any html attribute (:student_profile_id) straight to the input -->
      <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
