
<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>

  <!-- lists through all the error messages, this has to be placed after the form_for loop -->
  <% if @listing.errors.any? %>
  <div class='errormsg'>
  <ul>
    <% @listing.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
  <% end %>

  <div class="form-inputs">
    <% if params[:listing_type] %>
      <%= f.input :listing_type, as: :hidden, input_html: { value: params[:listing_type]}  %>
    <% end %>
    <%= f.input :title %>
    <%= f.input :subtitle, input_html: { maxlength: 200 } %>
    <%= f.input :description, input_html: { maxlength: 1000 } %>
    <%= f.input :contact_name %>
    <%= f.input :contact_email %>
    <%= f.input :contact_phone %>
    <%= f.input :website %>


      <% if @listing.listing_type == 'job' ||  params[:listing_type] == 'job' %>
      <div class="taglines"><p>Set the dates for job application opening and closing.</p></div>
      <%= f.input :start_time, as: :string, input_html: { class: 'datetimepicker'} %>
      <%= f.input :end_time, as: :string, input_html: { class: 'datetimepicker'} %>
      <!-- testing value for a new job or for editing a job -->
        <%= f.input :job_category, collection: [ 'Accounting',
  'Administration Office Support',
  'Advertising, Arts & Media',
  'Banking & financial services',
  'Call Centre & Customer Service',
  'CEO & General Management',
  'Community Services & Development',
  'Construction',
  'Consulting & Strategy',
  'Design & Architecture',
  'Education & Training',
  'Engineering',
  'Farming, Animals & Conservation',
  'Government & Defence',
  'Healthcare & Medical',
  'Hospitality & Tourism',
  'Human Resources & Recruitment',
  'Information and Communication Technology',
  'Insurance & Superannuation',
  'Legal, Law Enforcement, Correctional Services',
  'Manufacturing, Transport & Logistics',
  'Marketing & Communications',
  'Mining, Resources & Energy',
  'Real Estate & Property',
  'Retail & Consumer Products',
  'Sales',
  'Science & Technology',
  'Self-Employment',
  'Sport & Recreation',
  'Trades and Services' ] %>
      <%= f.input :job_type, collection: ['full time', 'part time', 'casual'] %>
      <%= f.input :salary, label: 'Salary Range', collection: ['up to $30K', '$30K - $40K', '$40K - $50K', '$50K - $60K', '$60K - $70K', '$70K - $80K', '$80K - $90K', '$90K - $100K', '$100K - $120K', '$120K - $150K', '$150K - $200K', 'Hourly rates'] %>
    <% else %> <!-- else if it's event or program -->
    <%= f.input :start_time, as: :string, input_html: { class: 'datetimepicker'} %>
    <%= f.input :end_time, as: :string, input_html: { class: 'datetimepicker'} %>
      <p>Choose Audiences:</p>
      <% if @listing.audiences.any? %>
        <% @audiences.each do |audience| %><!-- go through the audiences list if you edit an existing event or program-->
          <input class="" type="checkbox" value="<%= audience.id %>" name="listing[audience_ids][]" id="listing_audience_ids_<%= audience.id %>" <%= @listing.audiences.include?(audience) ? 'checked' : '' %> /> <!-- if the audience has been selected, it will have a tickmark -->
          <label for="listing_audience_ids_<%= audience.id %>"><%= audience.name %></label>
          <br>
        <% end %>
        <input type="hidden" name="listing[audience_ids][]" value="" />
      <% else %>
        <% Audience.all.each do |audience| %><!-- go through the Audience class if you create a brand new event or program -->
          <input class="" type="checkbox" value="<%= audience.id %>" name="listing[audience_ids][]" id="listing_audience_ids_<%= audience.id %>"  />
          <label for="listing_audience_ids_<%= audience.id %>"><%= audience.name %></label>
          <br>
        <% end %>
        <input type="hidden" name="listing[audience_ids][]" value="" />
      <% end %>

      <%= f.input :occurrence %>
      <%= f.input :location %>
      <%= f.input :ticket_required, label: 'Ticket Required?', collection: ['yes', 'no'] %>
      <%= f.input :official_hastag %>
      <%= f.input :facebook_url %>
      <%= f.input :google_plus_url %>
      <%= f.input :twitter_username %>
      <%= f.input :instagram_username %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
