<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if params[:listing_type] %>
      <%= f.input :listing_type, as: :hidden, input_html: { value: params[:listing_type]}  %>
    <% end %>
    <%= f.input :title %>
    <%= f.input :subtitle, input_html: { maxlength: 200 } %>
    <%= f.input :description, input_html: { maxlength: 1000 } %>
    <%= f.input :contact_name %>
    <%= f.input :contact_email %>
    <%= f.input :contact_phone %>
    <%= f.input :website %>

      <% if @listing.listing_type == 'job' ||  params[:listing_type] == 'job' %>
      <!-- testing value for a new job or for editing a job -->

        <%= f.input :job_category, collection: [ 'Accounting',
  'Administration Office Support',
  'Advertising, Arts & Media',
  'Banking & financial services',
  'Call Centre & Customer Service',
  'CEO & General Management',
  'Community Services & Development',
  'Construction',
  'Consulting & Strategy',
  'Design & Architecture',
  'Education & Training',
  'Engineering',
  'Farming, Animals & Conservation',
  'Government & Defence',
  'Healthcare & Medical',
  'Hospitality & Tourism',
  'Human Resources & Recruitment',
  'Information and Communication Technology',
  'Insurance & Superannuation',
  'Legal, Law Enforcement, Correctional Services',
  'Manufacturing, Transport & Logistics',
  'Marketing & Communications',
  'Mining, Resources & Energy',
  'Real Estate & Property',
  'Retail & Consumer Products',
  'Sales',
  'Science & Technology',
  'Self-Employment',
  'Sport & Recreation',
  'Trades and Services' ] %>
      <%= f.input :job_type, collection: ['full time', 'part time', 'casual'] %>
      <%= f.input :salary, collection: ['up to $30K', '$30K - $40K', '$40K - $50K', '$50K - $60K', '$60K - $70K', '$70K - $80K', '$80K - $90K', '$90K - $100K', '$100K - $120K', '$120K - $150K', '$150K - $200K', 'Hourly rates'] %>
    <% else %>
      <p>Choose Audiences:</p>
      <% @audiences.each do |audience| %>
        <input class="" type="checkbox" value="<%= audience.id %>" name="listing[audience_ids][]" id="listing_audience_ids_<%= audience.id %>" <%= @listing.audiences.include?(audience) ? 'checked' : '' %> />
        <label for="listing_audience_ids_<%= audience.id %>"><%= audience.name %></label>
        <br>
      <% end %>
      <input type="hidden" name="listing[audience_ids][]" value="" />

      <label for="listing_start_time">Start Time</label>
      <input id="listing_start_time" type="text" class="datepicker" name="listing[start_time]">
      <label for="listing_end_time">End Time</label>
      <input id="listing_end_time" type="text" class="datepicker" name="listing[end_time]">





      <%= f.input :occurrence %>
      <%= f.input :location %>
      <%= f.input :ticket_required, label: 'Ticket Required?', collection: ['yes', 'no'] %>
      <%= f.input :official_hastag %>
      <%= f.input :facebook_url %>
      <%= f.input :google_plus_url %>
      <%= f.input :twitter_username %>
      <%= f.input :instagram_username %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
