
<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>

  <!-- lists through all the error messages, this has to be placed after the form_for loop -->
  <% if @listing.errors.any? %>
  <div class='errormsg'>
  <ul>
    <% @listing.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
  <% end %> <!-- end of listing error -->

  <div class="form-inputs">
    <% if params[:listing_type] %>
      <%= f.input :listing_type, as: :hidden, input_html: { value: params[:listing_type]}  %>
    <% end %>
    <%= f.input :title %>
    <%= f.input :short_description, input_html: { maxlength: 200 } %>
    <%= f.input :long_description, input_html: { maxlength: 1000 } %>
    <% if @listing.listing_type == 'job' ||  params[:listing_type] == 'job' %><!-- please keep job company_name in this position, do not move.  -->
      <%= f.input :company_name %>
    <% end %>
    <%= f.input :contact_name %>
    <%= f.input :contact_email %>
    <%= f.input :contact_phone %>
    <%= f.input :website %>
    <%= f.input :street_address %>
    <%= f.input :suburb %>
    <%= f.input :state, collection: ['NSW', 'ACT', 'VIC', 'QLD', 'SA', 'NT', 'TAS'] %>
    <%= f.input :postcode %>


    <% if @listing.listing_type == 'job' ||  params[:listing_type] == 'job' %><!-- testing value for editing a job or for a new job  -->
      <% if @listing.start_time.present? %>
        <%= f.input :start_time, as: :string, label: 'Job Application Open Time (AEST):', input_html: { class: 'datetimepicker', value: localize(f.object.start_time, :format => "%d/%m/%Y  %I:%m %p")} %>
        <%= f.input :end_time, as: :string, label: 'Job Application Closing Time (AEST):', input_html: { class: 'datetimepicker', value: localize(f.object.end_time, :format => "%d/%m/%Y  %I:%m %p")} %>
      <% else %>
        <%= f.input :start_time, as: :string, label: 'Job Application Open Time (AEST):', input_html: { class: 'datetimepicker'} %>
        <%= f.input :end_time, as: :string, label: 'Job Application Closing Time (AEST):', input_html: { class: 'datetimepicker'} %>
      <% end %>
        <%= f.input :job_category, collection: ['full time', 'part time', 'casual', 'internship'] %>
      <%= f.input :job_type, collection: [ 'Accounting',
        'Administration Office Support',
        'Advertising, Arts & Media',
        'Banking & financial services',
        'Call Centre & Customer Service',
        'CEO & General Management',
        'Community Services & Development',
        'Construction',
        'Consulting & Strategy',
        'Design & Architecture',
        'Education & Training',
        'Engineering',
        'Farming, Animals & Conservation',
        'Government & Defence',
        'Healthcare & Medical',
        'Hospitality & Tourism',
        'Human Resources & Recruitment',
        'Information and Communication Technology',
        'Insurance & Superannuation',
        'Legal, Law Enforcement, Correctional Services',
        'Manufacturing, Transport & Logistics',
        'Marketing & Communications',
        'Mining, Resources & Energy',
        'Real Estate & Property',
        'Retail & Consumer Products',
        'Sales',
        'Science & Technology',
        'Self-Employment',
        'Sport & Recreation',
        'Trades and Services' ] %>
      <%= f.input :salary, label: 'Salary Range', collection: ['up to $30K', '$30K - $40K', '$40K - $50K', '$50K - $60K', '$60K - $70K', '$70K - $80K', '$80K - $90K', '$90K - $100K', '$100K - $120K', '$120K - $150K', '$150K - $200K', 'Hourly rates'] %>

    <% else %> <!-- else if it's an event or a program -->

    <% if @listing.start_time.present? %>
      <%= f.input :start_time, as: :string, label: 'Start Time (AEST):', input_html: { class: 'datetimepicker', value: localize(f.object.start_time, :format => "%d/%m/%Y  %I:%m %p")} %>
      <%= f.input :end_time, as: :string, label: 'End Time (AEST):', input_html: { class: 'datetimepicker', value: localize(f.object.end_time, :format => "%d/%m/%Y  %I:%m %p")} %>
    <% else %>
      <%= f.input :start_time, as: :string, label: 'Start Time (AEST):', input_html: { class: 'datetimepicker'} %>
      <%= f.input :end_time, as: :string, label: 'End Time (AEST):', input_html: { class: 'datetimepicker'} %>
    <% end %>
      <p>Choose Audiences:</p>
      <% if (@listing.new_record?) %><!-- if the listing is never been recorded in database (new) -->
        <% @listing.audiences.each do |audience| %><!-- check all the audiences items -->
          <input class="" type="checkbox" value="<%= audience.id %>" name="listing[audience_ids][]" id="listing_audience_ids_<%= audience.id %>" checked />
          <label for="listing_audience_ids_<%= audience.id %>"><%= audience.name %></label>
          <% if audience.name == "highschool" %>
            <div class="taglines"><p>Mentoring, Development, Pre-Tertiary programs and Winter and Summer schools.</p></div>
          <% elsif audience.name == "undergraduate" %>
            <div class="taglines"><p>Direct Access: ATAR and OP, Indirect Access: Pathway, Enabling, Admissions, Preparatory and Bridging programs.</p></div>
          <% elsif audience.name == "postgraduate" %>
            <div class="taglines"><p>Masters, Honours and PhD programs.</p></div>
          <% elsif audience.name == "employment" %>
            <div class="taglines"><p>Internships, Cadetships, Traineeships and Jobs.</p></div>
          <% elsif audience.name == "community" %>
            <div class="taglines"><p>Aboriginal and Torres Strait Islander peoples and organisations.</p></div>
          <% end %>
          <br>
        <% end %><!-- end of loop -->
          <input type="hidden" name="listing[audience_ids][]" value="" /><!-- this is for when a box is unchecked, it will leave value '' (empty) must have this -->
      <% else %>
      <!-- if the listing is already from the database -->
        <% @listing.audiences.each do |audience| %><!-- go through the audiences list and checked the ones already included -->
          <input class="" type="checkbox" value="<%= audience.id %>" name="listing[audience_ids][]" id="listing_audience_ids_<%= audience.id %>" <%= @listing.audiences.include?(audience) ? 'checked' : '' %> /> <!-- if the audience has been selected, it will be checked -->
          <label for="listing_audience_ids_<%= audience.id %>"><%= audience.name %></label>
          <br>
        <% end %><!-- end of loop -->
        <input type="hidden" name="listing[audience_ids][]" value="" /><!-- this is for when a box is unchecked, it will leave value '' (empty) must have this -->
      <% end %>

      <% if @listing.listing_type == 'event' ||  params[:listing_type] == 'event' %>
        <%= f.input :ticket_required, label: 'Ticket Required?', collection: ['Tickets Essential', 'Bookings Essential', 'No Booking Required'] %>
        <%= f.input :ticket_website, label: 'Website to Book Tickets (if required):' %>
      <% elsif @listing.listing_type == 'program' ||  params[:listing_type] == 'program' %>
        <%= f.input :ticket_required, label: 'Ticket Required?', collection: ['Tickets Essential', 'Bookings Essential', 'No Booking Required', 'Applications Open', 'Applications Closing Soon'] %>
        <%= f.input :ticket_website, label: 'Website to Book Tickets (if required):' %>
      <% end %>
      <%= f.input :official_hastag %>
      <%= f.input :facebook_url %>
      <%= f.input :twitter_handle %>
      <%= f.input :instagram_handle %>
      <%= f.input :image %>
    <% end %><!-- end of testing value for editing a job or for a new job  -->
    <% if current_user.has_role? :admin %>
      <% if @listing.expired_at.present? %>
        <%= f.input :expired_at, as: :string, label: 'Expired At (AEST):', input_html: { class: 'datetimepicker', value: localize(f.object.start_time, :format => "%d/%m/%Y  %I:%m %p")} %>
      <% else %>
        <%= f.input :expired_at, as: :string, label: 'Expired At (AEST):', input_html: { class: 'datetimepicker'} %>
      <% end %>
      <%= f.input :status, collection: ['draft', 'approved', 'archived']%>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %><!-- end of simple form -->
