
<ul class="collection">
  <li class="collection-item avatar">
    <%= image_tag(listing.image_url, alt: "", class: "circle") %>
    <span class="title"><p><%= link_to listing.title, listing_path(listing.id) %></p></span>
    <p><%= listing.short_description %></p>
    <% unless current_page?(root_path) || current_page?(pages_approved_events_path) || current_page?(pages_approved_programs_path) || current_page?(pages_approved_jobs_path) %>
      <% if user_signed_in? %>
        <% if listing.organisation.user == current_user %>
          <%= link_to 'Edit', edit_listing_path(listing), class: 'btn' %>
        <% end %>
        <% if current_user.has_role? :admin %>
          <%= link_to 'Edit', edit_listing_path(listing), class: 'btn' %>
        <% end %>
      <% end %><!-- end if user signed in -->
    <% end %><!-- end of unless current page is root path -->
  </li>
    <!-- DO NOT USE THE BLOCK OF LINES BELOW -->
    <!-- <% if listing.audiences.any? %>
      <div class="taglines"><p>Can't delete this listing if an audience is still attached to it.</p></div>
    <% else %>
      <%= link_to 'Delete', listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-destroy' %>
    <% end %> -->
</ul>
