<p id="notice"><%= notice %></p>
<% @listing.impressionist_count(:filter=>:session_hash, :unique=>true) %>
<%= image_tag(@listing.image_url, size: "300") %>
<p>
  <strong>Listing Type:</strong>
  <%= @listing.listing_type %>
</p>
<p>
  <strong>Listing ID:</strong>
  <%= @listing.id %>
</p>
<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>
<p>
  <strong>Short Description:</strong>
  <%= @listing.short_description %>
</p>
<p>
  <strong>Long Description:</strong>
  <%= @listing.long_description %>
</p>
<% if @listing.listing_type == 'job' %>
  <p>
    <strong>Company Name:</strong>
    <%= @listing.company_name %>
  </p>
<% end %>
<p>
  <strong>Contact Name:</strong>
  <%= @listing.contact_name %>
</p>
<p>
  <strong>Contact Email:</strong>
  <%= @listing.contact_email %>
</p>
<p>
  <strong>Contact Phone:</strong>
  <%= @listing.contact_phone %>
</p>
<p>
  <strong>Website:</strong>
  <%= @listing.website %>
</p>
<p>
  <strong>Street Address:</strong>
  <%= @listing.street_address %>
</p>
<p>
  <strong>Suburb:</strong>
  <%= @listing.suburb %>
</p>
<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>
<p>
  <strong>Postcode:</strong>
  <%= @listing.postcode %>
</p>
<% if @listing.listing_type == 'event' || @listing.listing_type == 'program' %>
  <p>
    <strong>Audiences:</strong>
    <% @listing.audiences.each do |audience| %>
      <a class="btn-flat btn-disabled"><%= audience.name %></a>
    <% end %>
  </p>
  <p>
    <strong>Start time (AEST):</strong>
    <% if @listing.start_time %>
      <%= @listing.start_time.strftime("%A, %d %b %Y %l:%M %p") %>
    <% end %>
  </p>
  <p>
    <strong>End time (AEST):</strong>
    <% if @listing.end_time %>
        <%= @listing.end_time.strftime("%A, %d %b %Y %l:%M %p") %>
      <% end %>
  </p>
  <p>
    <strong>Ticket required?</strong>
    <%= @listing.ticket_required %>
  </p>
  <p>
    <strong>Ticket Website (if booking is necessary):</strong>
    <%= @listing.ticket_website %>
  </p>
  <p>
    <strong>Official hastag:</strong>
    <%= @listing.official_hastag %>
  </p>
  <p>
    <strong>Facebook URL:</strong>
    <%= @listing.facebook_url %>
  </p>
    <strong>Twitter Handle:</strong>
    <%= @listing.twitter_handle %>
  </p>
  <p>
    <strong>Instagram Handle:</strong>
    <%= @listing.instagram_handle %>
  </p>
<% else %><!-- else if listing type is job -->
  <p>
    <strong>Application Open Date (AEST):</strong>
    <%= @listing.start_time.strftime("%A, %d %b %Y %l:%M %p") %>
  </p>
  <p>
    <strong>Application Closing Date (AEST):</strong>
    <%= @listing.end_time.strftime("%A, %d %b %Y %l:%M %p") %>
    <% if Date.today < (@listing.end_time) %>
      <div class="taglines"><a class="btn disabled"><i class="material-icons right">lock_open</i>This job vacancy is still open.</a></div>
    <% else %>
      <div class="taglines"><a class="btn disabled"><i class="material-icons right">lock_closed</i>This job vacancy is closed.</a></div>
    <% end %>
  </p>
<p>
    <strong>Job category:</strong>
    <%= @listing.job_category %>
  </p>
  <p>
    <strong>Job type:</strong>
    <%= @listing.job_type %>
  </p>
  <p>
    <strong>Salary:</strong>
    <%= @listing.salary %>
  </p>
  <p>
    <strong>Organiser:</strong>
    <%= @listing.organisation.company_name %>
  </p>
<% end %> <!-- end of unless if it's a job type -->

  <% if user_signed_in? %>
    <% if @listing.organisation.user == current_user %>
      <p><strong>Number of Views: </strong><%= @listing.impressions_count%></p>
      <%= link_to 'Edit', edit_listing_path(@listing) %>
    <% elsif current_user.has_role? :admin %>
      <p><strong>Listing Expired At: </strong>
        <div class='errormsg'><%= @listing.expired_at.strftime("%A, %d %b %Y %l:%M %p") %></div>
      </p>
      <p><strong>Listing Status: </strong>
        <% if @listing.is_expired? %>
          <% @listing.status = "expired" %>
        <% end %>
        <div class='errormsg'><%= @listing.status %></div>
      </p>
      <p><strong>Number of Views: </strong><%= @listing.impressions_count%></p>
      <%= link_to 'Edit', edit_listing_path(@listing) %> |
      <%= link_to 'Back to Admin', pages_admin_path %>
    <% end %>
  <% end %>
