<p id="notice"><%= notice %></p>
<p>View = <%= @listing.impressionist_count(:filter=>:session_hash)%></p>
<p>
  <strong>Listing Type:</strong>
  <%= @listing.listing_type %>
</p>
<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>
<p>
  <strong>Short Description:</strong>
  <%= @listing.short_description %>
</p>
<p>
  <strong>Long Description:</strong>
  <%= @listing.long_description %>
</p>
<p>
  <strong>Audiences:</strong>
  <% @listing.audiences.each do |audience| %>
  <a class="btn-flat btn-disabled"><%= audience.name %></a>
  <% end %>
</p>
<p>
  <strong>Contact Name:</strong>
  <%= @listing.contact_name %>
</p>
<p>
  <strong>Contact Email:</strong>
  <%= @listing.contact_email %>
</p>
<p>
  <strong>Contact Phone:</strong>
  <%= @listing.contact_phone %>
</p>
<p>
  <strong>Website:</strong>
  <%= @listing.website %>
</p>
<p>
  <strong>Street Address:</strong>
  <%= @listing.street_address %>
</p>
<p>
  <strong>Suburb:</strong>
  <%= @listing.suburb %>
</p>
<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>
<p>
  <strong>Postcode:</strong>
  <%= @listing.postcode %>
</p>
<% if @listing.listing_type == 'event' || @listing.listing_type == 'program' %>
  <p>
    <strong>Start Time:</strong>
    <% if @listing.start_time %>
      <%= @listing.start_time.localtime.strftime("%A, %d %b %Y %l:%M %p %Z") %>
    <% end %>
  </p>
  <p>
    <strong>End Time:</strong>
    <% if @listing.end_time %>
      <%= @listing.end_time.localtime.strftime("%A, %d %b %Y %l:%M %p %Z") %>
      <% end %>
  </p>
  <p>
    <strong>Ticket Required?</strong>
    <%= @listing.ticket_required %>
  </p>
  <p>
    <strong>Official Hastag:</strong>
    <%= @listing.official_hastag %>
  </p>
  <p>
    <strong>Facebook URL:</strong>
    <%= @listing.facebook_url %>
  </p>
  <p>
    <strong>Twitter Handle:</strong>
    <%= @listing.twitter_handle %>
  </p>
  <p>
    <strong>Instagram Handle:</strong>
    <%= @listing.instagram_handle %>
  </p>
<% else %><!-- else if listing type is job -->
<p>
  <strong>Date:</strong>
  <% if Date.today < (@listing.end_time) %>
    <%= Date.today.strftime("%A, %d %b %Y %l:%M %p") %>
  <% else %>
    <div class="taglines">This job vacancy has ended.</div>
  <% end %>
</p>
<p>
  <strong>Job category:</strong>
  <%= @listing.job_category %>
</p>
<p>
  <strong>Job type:</strong>
  <%= @listing.job_type %>
</p>
<p>
  <strong>Salary:</strong>
  <%= @listing.salary %>
</p>
<p>
  <strong>Organisation:</strong>
  <%= @listing.organisation.name %>
</p>
<% end %> <!-- end of unless if it's a job type -->

<% if user_signed_in? %>
  <% if @listing.organisation.user == current_user %>
  <%= link_to 'Edit', edit_listing_path(@listing) %>
  <% end %>
<% end %>
