<% if user_signed_in? %>
  <% if current_user.has_role? :admin%>
    <%= render 'layouts/sidebar' %>
    <div class="row">
      <div class="col l3">.</div><!-- do not remove the dot . -->
      <div class="col s12 m12 l8">
        <h3>Listing of Organisations</h3>
          <%= content_tag_for(:tr, @organisations) do |organisation| %>
          <ul class="collection">
            <li class="collection-item avatar">
              <img src=<%=organisation.logo_url%> alt="" class="circle">
              <span class="title"><a href="/organisations/<%=organisation.id%>"><%= organisation.company_name %></a></span>
              <p><a href="/organisations/<%=organisation.id%>"><%= organisation.department %></a></p>
              <p><%= organisation.contact_phone %></p>
              <p><%= organisation.website %></p>
              <%= link_to 'Edit', edit_organisation_path(organisation), class: 'btn btn-edit' %>
            </li>
          </ul>

          <% end %> <!-- end of loop -->
      </div>
    </div>
  <% end %><!-- end if user has role admin -->
<% end %><!-- end if user has signed in -->
