<h1>Listing Organisation</h1>

<table class="table">
    <tr>
      <th>Company Name</th>
      <th>Department</th>
      <th>Phone</th>
      <th>Website</th>
        <th colspan="3"></th>
    </tr>

  <%= content_tag_for(:tr, @organisations) do |organisation| %>
  <tr>
    <td><p><%= organisation.company_name %></p></td>
    <td><p><%= organisation.department %></p></td>
    <td><%= organisation.contact_phone %></td>
    <td><%= organisation.website %></td>
  </tr>
</table>
    <%= link_to 'Show', organisation, class: 'btn btn-show' %>
    <%= link_to 'Edit', edit_organisation_path(organisation), class: 'btn btn-edit' %>
    <% if organisation.listings.any? %>
      <div class="taglines"><p>Can not delete Organisation Profile if it has a listing associated with it.</p></div>
    <% else %>
      <%= link_to 'Delete', organisation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-destroy' %>
    <% end %>
  <% end %>


<% if current_user.organisation.nil? %>
  <div class="form-actions">
    <%= link_to 'New Organisation', new_organisation_path, class: 'btn btn-success' %>
  </div>
<% end %>
