<% if user_signed_in? %>
  <% if current_user.has_role? :admin%>
    <%= render 'layouts/sidebar' %>
    <div class='margin-left'>
    <h3>Listing of Organisations</h3>
      <table class="bordered responsive-table">
        <tr>
          <th>Company Name</th>
          <th>Department</th>
          <th>Phone</th>
          <th>Website</th>
            <th colspan="3"></th>
        </tr>

        <%= content_tag_for(:tr, @organisations) do |organisation| %>
          <tr>
            <td><p><a href="/organisations/<%=organisation.id%>"><%= organisation.company_name %></a></p></td>
            <td><p><a href="/organisations/<%=organisation.id%>"><%= organisation.department %></a></p></td>
            <td><p><%= organisation.contact_phone %></p></td>
            <td><p><%= organisation.website %></p></td>
            <td><%= link_to 'Edit', edit_organisation_path(organisation), class: 'btn btn-edit' %></td>
          </tr>
        <% end %> <!-- end of loop -->
      </table>
    </div>
  <% end %><!-- end if user has role admin -->
<% end %><!-- end if user has signed in -->
