<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, input_html: { maxlength: 40 } %>
    <%= f.input :subtitle, input_html: { maxlength: 40 } %>
    <%= f.input :description, input_html: { maxlength: 40 } %>
    <%= f.input :category, input_html: { maxlength: 40 } %>
    <%= f.input :location, collection: ['NSW', 'ACT', 'VIC', 'QLD', 'SA', 'NT', 'TAS'] %>
    <%= f.input :work_type, collection: ['full time', 'part time', 'casual', 'contract'] %>
    <%= f.input :salary %>
    <%= f.input :organisation_id, as: :hidden, input_html: { value: params[:org]} %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
