<p id="notice"><%= notice %></p>
<p>current org: <%=current_user.current_org%></p>
<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @job.subtitle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @job.category %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Work type:</strong>
  <%= @job.work_type %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @job.organisation %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
