<h1>Listing events</h1>

<table class="table">
    <tr>
      <th>Title</th>
      <th>Tagline</th>
      <th>Description</th>
      <th>Contact_number</th>
      <th>Website</th>
      <th>Accessibility</th>
      <th>Start_time</th>
      <th>End_time</th>
      <th>Occurrence</th>
      <th>Location</th>
      <th>Ticket_required</th>
      <th>Official_hastag</th>
      <th>Facebook_url</th>
      <th>Google_plus_url</th>
      <th>Twitter_username</th>
      <th>Instagram_username</th>
      <th>Organisation</th>
        <th colspan="3"></th>
    </tr>

  <%= content_tag_for(:tr, @events) do |event| %>
    <td><%= event.title %></td>
    <td><%= event.tagline %></td>
    <td><%= event.description %></td>
    <td><%= event.contact_number %></td>
    <td><%= event.website %></td>
    <td><%= event.accessibility %></td>
    <td><%= event.start_time %></td>
    <td><%= event.end_time %></td>
    <td><%= event.occurrence %></td>
    <td><%= event.location %></td>
    <td><%= event.ticket_required %></td>
    <td><%= event.official_hastag %></td>
    <td><%= event.facebook_url %></td>
    <td><%= event.google_plus_url %></td>
    <td><%= event.twitter_username %></td>
    <td><%= event.instagram_username %></td>
    <td><%= event.organisation %></td>
      <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event), class: 'btn btn-edit' %></td>
    <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-destroy' %></td>
  <% end %>
</table>


<div class="form-actions">
  <%= link_to 'New Event', new_event_path, class: 'btn btn-success' %>
</div>
