<!-- <p id="notice"><%= notice %></p> don't need this, it will make double notice lines-->

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @event.tagline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @event.contact_number %>
</p>

<p>
  <strong>Website:</strong>
  <%= @event.website %>
</p>

<p>
  <strong>Audiences:</strong>
    <% if @event.audiences.none? %>
      <p><%= link_to "Add Audience", new_audience_path(event_id: @event.id) %></p>
    <% else %>
      <% @event.audiences.each do |audience| %>
        <% if audience.event_id == @event.id %>
          <ul class="collection">
            <% if audience.highschool %>
                <li class="collection-item">Highschool</li>
            <% end %>

            <% if audience.undergraduate %>
                <li class="collection-item">Undergraduate</li>
            <% end %>

            <% if audience.postgraduate %>
                <li class="collection-item">Post Graduate</li>
            <% end %>

            <% if audience.community %>
                <li class="collection-item">Community</li>
            <% end %>

            <li class="collection-item">
              <%= link_to "Edit Audience | ", edit_audience_path(audience) %>
              <%= link_to "Delete Audience", audience_path(audience), method: :delete, data: { confirm: 'Are you sure?'} %>
            </li>
          </ul>
        <% end %>
      <% end %>
    <% end %>
</p>

<p>
  <strong>Categories:</strong>
    <% if @event.categories.none? %>
      <p><%= link_to "Add Category", new_category_path(event_id: @event.id) %></p>
    <% else %>
      <% @event.categories.each do |category| %>
        <% if category.event_id == @event.id %>
          <ul class="collection">
            <% if category.highschool %>
              <li class="collection-item">Highschool</li>
            <% end %>

            <% if category.undergraduate %>
              <li class="collection-item">Undergraduate</li>
            <% end %>

            <% if category.postgraduate %>
              <li class="collection-item">Postgraduate</li>
            <% end %>

            <% if category.employment %>
              <li class="collection-item">Employment</li>
            <% end %>

            <% if category.community %>
              <li class="collection-item">Community</li>
            <% end %>

            <li class="collection-item">
              <%= link_to "Edit Category", edit_category_path(category) %><%= ' | '%>
              <%= link_to "Delete Category", category_path(category), method: :delete, data: { confirm: 'Are you sure?'} %>
            </li>
          </ul>
        <% end %>
      <% end %> <!-- end of loop -->
    <% end %>
</p>

<p>
  <strong>Accessibility:</strong>
  <%= @event.accessibility %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Occurrence:</strong>
  <%= @event.occurrence %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Ticket required:</strong>
  <%= @event.ticket_required %>
</p>

<p>
  <strong>Official hastag:</strong>
  <%= @event.official_hastag %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @event.facebook_url %>
</p>

<p>
  <strong>Google plus url:</strong>
  <%= @event.google_plus_url %>
</p>

<p>
  <strong>Twitter username:</strong>
  <%= @event.twitter_username %>
</p>

<p>
  <strong>Instagram username:</strong>
  <%= @event.instagram_username %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', organisation_path(@event.organisation) %>
