<% if user_signed_in? %>
  <% if current_user.has_role? :admin%>
  <%= render 'layouts/sidebar' %>
  <div class='margin-left'>
    <h3>Admin Pages</h3>
    <ul>
      <p>
        <li>Total Draft Events: <%= Listing.event_type.draft.count %></li>
        <li>Total Approved Events: <%= Listing.event_type.approved.count %></li>
        <li>Total Expired Events: <%= Listing.event_type.expired.count %></li>
        <li>Total Archived Events: <%= Listing.event_type.archived.count %></li>
      </p>

      <p>
        <li>Total Draft Programs: <%= Listing.program_type.draft.count %></li>
        <li>Total Approved Programs: <%= Listing.program_type.approved.count %></li>
        <li>Total Expired Programs: <%= Listing.program_type.expired.count %></li>
        <li>Total Archived Programs: <%= Listing.program_type.archived.count %></li>
      </p>
        <p>
        <li>Total Draft Jobs: <%= Listing.job_type.draft.count %></li>
        <li>Total Approved Jobs: <%= Listing.job_type.approved.count %></li>
        <li>Total Expired Jobs: <%= Listing.job_type.expired.count %></li>
        <li>Total Archived Jobs: <%= Listing.job_type.archived.count %></li>
      </p>
      <p>Total Organisations: <%= Organisation.count %></p>
      <p>Total Students: <%= StudentProfile.count %></p>
    </ul>
  </div>
  <% else %>
    <br>
    <%= link_to 'Return to Home Page', pages_home_url %><!-- DON'T LIKE THIS, PREFER REDIRECT BUT DOESN'T WORK -->
  <% end %><!-- end of checking if the user has admin role -->
<% end %> <!-- end of checking if the user has signed-in -->
