<div class="row">
  <div class="col s2">.</div><!-- do not remove the dot . -->
  <div class="col s7">
    <div class="white-text">
      <h3>All Events</h3>
      <%= form_tag(pages_approved_events_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search for State, Suburb or Postcode"%>
    </div><!-- end white text -->
        <button class="btn waves-effect waves-light" type="submit" name="commit" value="Search">SEARCH</button>
      <% end %>

      <% if @events.present? %>
      <%= paginate @events %>
        <% @events.each do |event| %>
          <ul class="collection">
            <li class="collection-item avatar">
              <img src=<%=event.image_url%> alt="" class="circle">
              <a href="/listings/<%=event.id%>">
              <span class="title"><%=event.title%></span>
              <p><%=event.short_description%></p>
              </a>
              <div class="secondary-content"><i class="material-icons">grade</i></div>
            </li>
          </ul>
        <% end %>
        <%= paginate @events %>
      <% else %>
        <div class="white-text">
          <p>There are no events located in <%= params[:search] %>.</p>
        </div><!-- end white text -->
      <% end %>
</div>
