<div class="main-pattern">
  <div class="container white-bg">
    <div class="row">
      <div class="col s12">
        <a href="/pages/approved_programs"><h4>All Programs</h4></a>
        <%= form_tag(pages_approved_programs_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search for State, Suburb or Postcode or Description"%>
          <button class="btn waves-effect waves-light palette4-bg" type="submit" name="commit" value="Search">SEARCH</button>
        <% end %>

        <% if @programs.present? %>
        <br>
        <%= paginate @programs %>
          <% @programs.each do |program| %>
            <ul class="collection">
              <li class="collection-item avatar">
                <img src=<%=program.image_url%> alt="" class="circle">
                <a href="/listings/<%=program.id%>">
                <span class="title"><%=program.title%></span>
                <p><%=program.short_description%></p>
                </a>
                <div class="secondary-content"><i class="material-icons">grade</i></div>
              </li>
            </ul>
          <% end %>
          <%= paginate @programs %>
        <% else %>
            <p>There are no events located in <%= params[:search] %>.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
