<% @pre_launch_landing = false %>
<!-- appears in home.html.erb and application.html.erb -->
<% if @pre_launch_landing %>
  <div class="row holding-page-background">
    <!-- <div class="col s12 m12 l12 center"><img src="/assets/holding_page.jpg"></div> -->
    <!-- <div class="col s12 m12 l12"><img src="/assets/holding_page_bg_image.png">hello</div> -->
    <div class="row">
      <div class="col s1 m2 l3 no-color-text">.</div>
      <div class="col s10 m8 l6 top-margin-20px">
        <img src="/assets/logo_and_takes_you_higher.png" style="max-width: 100%" >
      </div>
      <div class="col s1 m2 l3 no-color-text">.</div>
    </div> <!-- end of row -->

    <div class="row">
      <div class="col s2 m2 l2 no-color-text">.</div>
      <div class="col s8 m8 l8">
        <p class="flow-text center">
          Are you an Aboriginal and/or Torres Strait Islander university student, future student or alumni? Then stay tuned as we’re building an online community designed to support and celebrate you! Sign in below to receive our updates, invitations and notification of our launch.
        </p>
        <%= content_for :title, "Welcome to BLACADEMICS" %>

        <!-- Begin MailChimp Signup Form -->
        <!-- This header part has been removed to application.scss page -->
        <!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; } -->
        	<!-- /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ -->
        <!-- </style> -->
        <div id="mc_embed_signup palette4-bg">
          <form action="//blacademics.us11.list-manage.com/subscribe/post?u=1c5d4e58fc7cfe36d4f7b90af&amp;id=eb781301da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            	<!-- <h2>Subscribe to our mailing list</h2> -->
              <div class="indicates-required no-color-text"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group">
              	<label for="mce-EMAIL" style="color: #000000;">Email Address  <span class="asterisk  no-color-text">*</span>
                </label>
              	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div class="mc-field-group">
              	<label for="mce-FNAME" style="color: #000000;">First Name  <span class="asterisk  no-color-text">*</span>
                </label>
              	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
              </div>
              <div class="mc-field-group">
              	<label for="mce-LNAME" style="color: #000000;">Last Name  <span class="asterisk  no-color-text">*</span>
                </label>
              	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
              </div>
            	<div id="mce-responses" class="clear">
            		<div class="response" id="mce-error-response" style="display:none"></div>
            		<div class="response" id="mce-success-response" style="display:none"></div>
            	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c5d4e58fc7cfe36d4f7b90af_eb781301da" tabindex="-1" value=""></div>

                <a class="waves-effect waves-light btn palette4-bg">SEND<div class="clear"><input type="submit" value="SEND" name="subscribe" id="mc-embedded-subscribe" class="button"></div></a>

            </div><!-- end of mc_embed_signup_scroll -->
          </form>
        </div><!-- end of mc_embed_signup -->
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </div><!-- end of col s8 m8 l8 -->
      <div class="col s2 m2 l2 no-color-text">.</div>
    </div><!-- row -->
  </div><!-- row holding-page-background -->




<% else %><!-- if @pre_launch_landing = true -->


  <div class="row">
    <div class="col s12">
      <div class="parallax-container">
        <div class="parallax">
          <img src="/assets/homepage.jpg" style="max-width: 100%;">
        </div>
      </div>
    </div>
  </div>

  <div class="section white">
    <div class="main-pattern">
      <div class="container white-bg">
        <div class="row">
          <div class="col s12 m4 l4">
            <div class="text-center"><h4>EVENTS</h4></div>
            <%= render @events %>
            <h5><%= link_to "More Events", pages_approved_events_path %></h5>
          </div>

          <div class="col s12 m4 l4">
            <div class="text-center"><h4>PROGRAMS</h4></div>
              <%= render @programs %>
              <h5><%= link_to "More Programs", pages_approved_programs_path %></h5>
          </div>

          <div class="col s12 m4 l4">
            <div class="text-center"><h4>JOBS</h4></div>
            <%= render @jobs %>
            <h5><%= link_to "More Jobs", pages_approved_jobs_path %></h5>
          </div>
        </div><!-- end of row -->

        <div class="row">
          <div class="col s12 m6 l6">
            <div class="card">
              <div class="card-image">
                <%= image_tag("BLAC_Infographic1.png") %>
              </div>
              <div class="card-content">
                <span class="card-title grey-text text-darken-4">Watch Video</span>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">
            <div class="card">
              <div class="card-image">
                <iframe src="https://www.google.com/maps/d/embed?mid=znuiI5BoaB3Y.k2iICEN7PcFE" width=100%  height=375></iframe>
              </div>
            </div>
          </div>
        </div><!-- end of row -->

        <% if user_signed_in? %>
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-content">
                  <div class="row">
                    <!-- the loop must be outside the class col to make the images appear horizontally -->
                    <div class="small">
                      <% @student_profiles.limit(9).each do |student|%>
                        <div class="col s4 center font-10pt">
                          <div class="top-margin-20px"><img src=<%=student.profile_pic_url%> width=60% ></div>
                          <p><%= student.first_name %><br><%= student.last_name %></p>
                        </div>
                      <% end %>
                    </div><!-- end small -->
                    <div class="medium">
                      <% @student_profiles.limit(12).each do |student|%>
                        <div class="col s3 center font-10pt">
                          <div class="top-margin-20px"><img src=<%=student.profile_pic_url%> width=60% ></div>
                          <p><%= student.first_name %><br><%= student.last_name %></p>
                        </div>
                      <% end %>
                    </div><!-- end medium -->
                    <div class="large">
                      <% @student_profiles.limit(12).each do |student|%>
                        <div class="col s3 center font-10pt">
                          <div class="top-margin-20px"><img src=<%=student.profile_pic_url%> width=60% ></div>
                          <p><%= student.first_name %><br><%= student.last_name %></p>
                        </div>
                      <% end %>
                    </div><!-- end large -->
                  </div><!-- end of row -->
                </div><!-- card-image -->
                <div class="card-content">
                  <span class="card-title grey-text text-darken-4"><a href="pages/students_gallery">View All <%= @student_profiles.count %> Students Gallery</a></span>
                </div>
              </div>
            </div>
          </div><!-- end of row -->
        <% end %>

        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card">
              <div class="card-image">
                <%= image_tag("BLAC_Infographic1.png") %>
              </div>
              <div class="card-content">
                <span class="card-title grey-text text-darken-4">Info Graphic 1</span>
              </div>
            </div>
          </div>
        </div><!-- end of row -->

        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card">
              <div class="card-image">
                <%= image_tag("BLAC_Infographic2.png") %>
              </div>
              <div class="card-content">
                <span class="card-title grey-text text-darken-4">Info Graphic 2</span>
              </div>
            </div>
          </div>
        </div><!-- end of row -->

        <div class="row">
          <!-- Guides and FAQs ------------------>
          <div class="col s12 small">
            <div class="card-panel palette4-bg center">
              <span class="white-text font-14pt">Guides and FAQs</span>
            </div>
          </div>

          <div class="col m4 medium">
            <div class="card">
              <div class="card-image">
                <%= image_tag("two_students_on_computer.jpg") %>
              </div>
              <div class="card-content">
                <span class="card-title grey-text text-darken-4">Guides and FAQs</span>
              </div>
            </div>
          </div>

          <div class="col l4 large">
            <div class="card">
              <div class="card-image">
                <%= image_tag("two_students_on_computer.jpg") %>
              </div>
              <div class="card-content">
                <span class="card-title grey-text text-darken-4">Guides and FAQs</span>
              </div>
            </div>
          </div>

          <!--- Universities and Indigenous Units ------------------>
          <a href="/pages/universities">
            <div class="col s12 small">
              <div class="card-panel palette4-bg center">
                <span class="white-text font-14pt">Universities and Indigenous Units</span>
              </div>
            </div>
          </a>

          <a href="/pages/universities">
            <div class="col m4 medium">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("university.jpg") %>
                </div>
                <div class="card-content">
                  <span class="card-title grey-text text-darken-4"><div class="font-12pt">Universities/Indigenous Units</div></span>
                </div>
              </div>
            </div>
          </a>

          <a href="/pages/universities">
            <div class="col l4 large">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("university.jpg") %>
                </div>
                <div class="card-content">
                  <span class="card-title grey-text text-darken-4"><div class="font-14pt">Universities and Indigenous Units</div></span>
                </div>
              </div>
            </div>
          </a>

          <!-- Uni Students and Alumni ---------------------------->
          <a href="/pages/uni_students">
            <div class="col s12 small">
              <div class="card-panel palette4-bg center">
                <span class="white-text font-14pt">Uni Students and Alumni</span>
              </div>
            </div>
          </a>

          <a href="/pages/uni_students">
            <div class="col m4 medium">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("graduates.jpg") %>
                </div>
                <div class="card-content">
                  <span class="card-title grey-text text-darken-4"><div class="font-12pt">Uni Students and Alumni</div></span>
                </div>
              </div>
            </div>
          </a>

          <a href="/pages/uni_students">
            <div class="col l4 large">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("graduates.jpg") %>
                </div>
                <div class="card-content">
                  <span class="card-title grey-text text-darken-4">Uni Students and Alumni</span>
                </div>
              </div>
            </div>
          </a>
        </div><!-- end of row -->

        <div class="row">

          <!-- Organisations ---------------------------->
          <a href="/pages/organisations">
            <div class="col s12 small">
              <div class="card-panel palette4-bg center">
                <span class="white-text font-14pt">Organisations</span>
              </div>
            </div>
          </a>

          <a href="/pages/organisations">
            <div class="col m4 medium">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("city_skyscrapers.jpg") %>
                </div>
                <div class="card-content">
                  <span class="card-title grey-text text-darken-4">Organisations</span>
                </div>
              </div>
            </div>
          </a>

          <a href="/pages/organisations">
            <div class="col l4 large">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("city_skyscrapers.jpg") %>
                </div>
                <div class="card-content">
                  <span class="card-title grey-text text-darken-4">Organisations</span>
                </div>
              </div>
            </div>
          </a>

          <!-- High Schooler ---------------------------->
          <a href="/pages/highschoolers">
            <div class="col s12 small">
              <div class="card-panel palette4-bg center">
                <span class="white-text font-14pt">High Schooler</span>
              </div>
            </div>
          </a>

          <a href="/pages/highschoolers">
            <div class="col m4 medium">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("girl_student.jpg") %>
                </div>
                <div class="card-content">
                  <span class="card-title grey-text text-darken-4">High Schooler</span>
                </div>
              </div>
            </div>
          </a>

          <a href="/pages/highschoolers">
            <div class="col l4 large">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("girl_student.jpg") %>
                </div>
                <div class="card-content">
                  <span class="card-title grey-text text-darken-4">High Schooler</span>
                </div>
              </div>
            </div>
          </a>

          <!-- All Listings ---------------------------->
          <a href="/pages/uni_students_listings">
            <div class="col s12 small">
              <div class="card-panel palette4-bg center">
                <span class="white-text font-14pt">All Listings</span>
              </div>
            </div>
          </a>

          <a href="/pages/uni_students_listings">
            <div class="col m4 medium">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("students_on_laptops.jpg") %>
                </div>
                <div class="card-content">
                  <span class="card-title grey-text text-darken-4">All Listings</span>
                </div>
              </div>
            </div>
          </a>

          <a href="/pages/uni_students_listings">
            <div class="col l4 large">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("students_on_laptops.jpg") %>
                </div>
                <div class="card-content">
                  <span class="card-title grey-text text-darken-4">All Listings</span>
                </div>
              </div>
            </div>
          </a>

        </div><!-- end of row -->
      </div><!-- end of container white-bg -->
    </div><!-- end of container -->
  </div><!-- end of section white -->
<% end %>
