<% @pre_launch_landing = false %>
<!-- appears in home.html.erb and application.html.erb -->
<% if @pre_launch_landing %>
  <div class="row holding-page-background">
    <div class="row">
      <div class="col s1 m2 l3 no-color-text">.</div>
      <div class="col s10 m8 l6 top-margin-20px">
        <img src="/assets/takes_you_higher.png" style="max-width: 100%" >
      </div>
      <div class="col s1 m2 l3 no-color-text">.</div>
    </div> <!-- end of row -->

    <div class="row">
      <div class="col s2 m2 l2 no-color-text">.</div>
      <div class="col s8 m8 l8">
        <p class="flow-text center">
          Are you an Aboriginal and/or Torres Strait Islander university student, future student or alumni? Then stay tuned as we’re building an online community designed to support and celebrate you. Sign in below to receive our updates, invitations and notification of our launch.
        </p>
        <%= content_for :title, "Welcome to BLACADEMICS" %>

        <!-- Begin MailChimp Signup Form -->
        <!-- This header part has been removed to application.scss page -->
        <!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; } -->
        	<!-- /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ -->
        <!-- </style> -->
        <div id="mc_embed_signup palette4-bg">
          <form action="//blacademics.us11.list-manage.com/subscribe/post?u=1c5d4e58fc7cfe36d4f7b90af&amp;id=eb781301da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            	<!-- <h2>Subscribe to our mailing list</h2> -->
              <div class="indicates-required no-color-text"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group">
              	<label for="mce-EMAIL" style="color: #000000;">Email Address  <span class="asterisk  no-color-text">*</span>
                </label>
              	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div class="mc-field-group">
              	<label for="mce-FNAME" style="color: #000000;">First Name  <span class="asterisk  no-color-text">*</span>
                </label>
              	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
              </div>
              <div class="mc-field-group">
              	<label for="mce-LNAME" style="color: #000000;">Last Name  <span class="asterisk  no-color-text">*</span>
                </label>
              	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
              </div>
            	<div id="mce-responses" class="clear">
            		<div class="response" id="mce-error-response" style="display:none"></div>
            		<div class="response" id="mce-success-response" style="display:none"></div>
            	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c5d4e58fc7cfe36d4f7b90af_eb781301da" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div><!-- end of mc_embed_signup_scroll -->
          </form>
        </div><!-- end of mc_embed_signup -->
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </div><!-- end of col s8 m8 l8 -->
      <div class="col s2 m2 l2 no-color-text">.</div>
    </div><!-- row -->
  </div><!-- row holding-page-background -->


<% else %><!-- if @pre_launch_landing = true --------------------->

  <div class="row" style="margin: 0;">
    <div class="col s12 m12 l12" style="padding-left: 0; padding-right: 0;">
      <div class="parallax-container">
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l12" style="margin-top: 180px; text-align: center; font-size: 100%;">
              <h3 style="color: white; text-align: center; font-family: Nationale-Bold; text-shadow: 2px 2px 2px #00a2b4;">Supporting Indigenous Excellence</h3>
              <h5 style="color: white; text-align: center; text-shadow: 2px 2px 2px #00a2b4;">For all Aboriginal and/or Torres Strait Islander university student, future student and alumni.</h5>
                <a class="waves-effect waves-light btn" style="background-color: #e64630; margin-top: 5px;">Read More</a>
                <a class="waves-effect waves-light btn" style="background-color: #00a2b4; margin-top: 5px;">Contact Us</a>
            </div>
          </div>
        </div>
        <div class="parallax">
          <%= cl_image_tag("blacademics_homepage.jpg", :background=>"#000", :opacity=>90) %>
        </div>
      </div><!-- end of parallax-container-->

    </div>
  </div><!-- end of row -->

  <div class="row" style=" margin: 0; padding-top: 70px; padding-left: 30px; padding-right: 30px; background-size: cover">
    <div class="col s12 m3 l3" style=" margin-bottom: 50px;">
      <a href="/pages/approved_events" style="text-decoration: none; color: black;">
        <%= cl_image_tag("events.jpg", :width=>"100%") %>
        <p>
          <h5>Events</h5>
          Add some text here for more information.
        </p>
      </a>
    </div>

    <div class="col s12 m3 l3" style=" margin-bottom: 50px;">
      <a href="/pages/approved_programs" style="text-decoration: none; color: black;">
        <%= cl_image_tag("programs_2.jpg", :width=>"100%") %>
        <p>
          <h5>Programs</h5>
          Add some text here for more information.
        </p>
      </a>
    </div>

    <div class="col s12 m3 l3" style=" margin-bottom: 50px;">
      <a href="/pages/approved_jobs" style="text-decoration: none; color: black;">
        <%= cl_image_tag("jobs2.jpg", :width=>"100%") %>
        <p>
          <h5>Jobs</h5>
          Add some text here for more information.
        </p>
      </a>
    </div>

    <div class="col s12 m3 l3" style=" padding-bottom: 50px;">
      <a href="/news" style="text-decoration: none; color: black;">
        <%= cl_image_tag("news_videos.jpg", :width=>"100%") %>
        <h5>News and Videos</h5>
        <p>Add some text here for more information.</p>
      </a>
    </div>

  </div><!-- end of row -->

    <div class="row" style="background-color: #fff180; margin: 0px;">
      <div class="col s12 m6 l6" style="margin-top: 50px;">
        <h5 style="text-align: center;">What to expect at university</h5>
        <div class="embed-container" style="margin-top: 30px;">
          <%= embed("we1ah4DgMrc") %>
        </div>
      </div>
      <div class="col s12 m6 l6" style="margin-top: 50px; margin-bottom: 50px;">
        <h5 style="text-align: center;">Find a university in Australia</h5>
        <div class="embed-container" style="margin-top: 30px;">
          <iframe src="https://www.google.com/maps/d/embed?mid=znuiI5BoaB3Y.k2iICEN7PcFE"></iframe>
        </div>
      </div>
    </div><!-- end of row -->



    <div class="main-pattern">
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12" style=" margin-top: 30px;">
            <%= cl_image_tag("BLAC_Infographic1.png", width: "100%") %>
          </div>
        </div><!-- end of row -->

        <div class="row">
          <div class="col s12 m12 l12" style="margin-top: 30px; margin-bottom: 30px;">
            <%= cl_image_tag("BLAC_Infographic2.png", width: "100%") %>
          </div>
        </div><!-- end of row -->

        <% if user_signed_in? %>
          <div class="row" style="margin: 0px;">
            <div class="col s12 m12 l12" style="margin-bottom: 30px;">
              <div class="card">
                <div class="card-content">
                  <div class="row">
                    <!-- the loop must be outside the class col to make the images appear horizontally -->
                    <div class="small">
                      <% @student_profiles.limit(9).each do |student|%>
                        <div class="col s4 center font-10pt">
                          <div class="top-margin-20px"><img src=<%=student.profile_pic_url%> width=60% ></div>
                          <p><%= student.first_name %><br><%= student.last_name %></p>
                        </div>
                      <% end %>
                    </div><!-- end small -->
                    <div class="medium">
                      <% @student_profiles.limit(12).each do |student|%>
                        <div class="col s3 center font-10pt">
                          <div class="top-margin-20px"><img src=<%=student.profile_pic_url%> width=60% ></div>
                          <p><%= student.first_name %><br><%= student.last_name %></p>
                        </div>
                      <% end %>
                    </div><!-- end medium -->
                    <div class="large">
                      <% @student_profiles.limit(12).each do |student|%>
                        <div class="col s3 center font-10pt">
                          <div class="top-margin-20px">
                            <% if student.profile_pic_url.present? %>
                              <%= cl_image_tag("student.profile_pic_url", :width => "50%") %>
                            <% else %>
                              <%= cl_image_tag("default_pic1_ztn0yq.png", :width => "50%") %>
                            <% end %>
                          </div>
                          <p><%= student.first_name %><br><%= student.last_name %></p>
                        </div>
                      <% end %>
                    </div><!-- end large -->
                  </div><!-- end of row -->
                </div><!-- card-image -->
                <div class="card-content">
                  <span class="card-title grey-text text-darken-4"><a href="pages/students_gallery">View All <%= @student_profiles.count %> Students Gallery</a></span>
                </div>
              </div>
            </div>
          </div><!-- end of row -->
        <% end %>

      </div><!-- end of container-->
    </div><!-- end of main-pattern -->





  <div class="row" style="margin: 0;">
    <div class="col s12 m12 l12" style="margin-top: 0; padding-left: 0; padding-right: 0; padding-top: 50px; padding-bottom: 30px;">
      <div class="parallax-container" style="height: 500px;">
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l12" style="margin-top: 230px; text-align: center;">
              <h3 style="color: white; text-align: center; font-family: Nationale-Bold; text-shadow: 2px 2px 2px #00a2b4;">Student Profiles</h3>
              <h5 style="color: white; text-align: center; text-shadow: 2px 2px 2px #00a2b4">Create an online profile then search and apply for jobs.</h5>
              <% if user_signed_in? %>
                <% if current_user.has_role? :student %>
                  <% if current_user.student_profile %>
                    <a class="waves-effect waves-light btn" style="background-color: #e64630;" href="/student_profiles/<%=current_user.student_profile.id%>">My Profile</a>
                  <% else %>
                    <a class="waves-effect waves-light btn" style="background-color: #e64630;" href="/student_profiles/new">Create Your Own Profile</a>
                  <% end %>
                  <% else %><!-- else if current user does not have a profile yet -->
                    <a class="waves-effect waves-light btn" style="background-color: #e64630;" href="/users/sign_in">Sign In</a>
                <% end %>
              <% else %> <!-- else if current user is not a student -->
                <a class="waves-effect waves-light btn" style="background-color: #e64630;" href="/pages/home">Sign In</a>
              <% end %>
            </div>
          </div>
        </div>
        <div class="parallax">
          <%= cl_image_tag("create_student_profiles_2.jpg", :background=>"#000", :opacity=>80 ) %>
        </div>
      </div>


    </div>
  </div>

  <div class="container" style="width: 80%;">
        <div class="row" style="margin-top: 80px;">
          <!-- Guides and FAQs ------------------>
          <div class="col s12 small">
            <div class="card-panel palette4-bg center">
              <span class="white-text font-14pt">Guides and FAQs</span>
            </div>
          </div>

          <div class="col m4 medium">
            <a href="#" style="text-decoration: none; color: black;">
              <%= cl_image_tag("blacademics_guides_faq.jpg", width: "100%") %>
              <h5 style="font-size: 100%; text-align: center;"><strong>Guides and FAQs</strong></h5>
            </a>
          </div>

          <div class="col l4 large">
            <a href="#" style="text-decoration: none; color: black;">
                <%= cl_image_tag("blacademics_guides_faq.jpg", width: "100%") %>
                <h5 style="text-align: center;"><strong>Guides and FAQs</strong></h5>
            </a>
          </div>

          <!--- Universities and Indigenous Units ------------------>

            <div class="col s12 small">
              <a href="/pages/universities">
                <div class="card-panel palette4-bg center">
                  <span class="white-text font-14pt">Universities and Indigenous Units</span>
                </div>
              </a>
            </div>


            <div class="col m4 medium">
              <a href="/pages/universities" style="text-decoration: none; color: black;">
                  <%= cl_image_tag("blacademics_universities_indig_units.jpg", width: "100%") %>
                  <h5 style="font-size: 100%; text-align: center;"><strong>Universities and Indigenous Units</strong></h5>
              </a>
            </div>


          <div class="col l4 large">
            <a href="/pages/universities" style="text-decoration: none; color: black;">
              <%= cl_image_tag("blacademics_universities_indig_units.jpg", width: "100%") %>
              <h5 style="text-align: center;"><strong>Universities and Indigenous Units</strong></h5>
            </a>
          </div>


          <!-- Uni Students and Alumni ---------------------------->
          <a href="/pages/uni_students">
            <div class="col s12 small">
              <div class="card-panel palette4-bg center">
                <span class="white-text font-14pt">Uni Students and Alumni</span>
              </div>
            </div>
          </a>

          <div class="col m4 medium">
            <a href="/pages/uni_students" style="text-decoration: none; color: black;">
              <%= cl_image_tag("blacademics_uni_alumni_d2uwg3.jpg", width: "100%") %>
              <h5 style="font-size: 100%; text-align: center;"><strong>Uni Students and Alumni</strong></h5>
            </a>
          </div>


            <div class="col l4 large">
              <a href="/pages/uni_students" style="text-decoration: none; color: black;">
                <%= cl_image_tag("blacademics_uni_alumni_d2uwg3.jpg", width: "100%") %>
                <h5 style="text-align: center;"><strong>Uni Students and Alumni</strong></h5>
              </a>
            </div>
        </div><!-- end of row -->


        <div class="row" style="margin-bottom: 80px;">
          <!-- Organisations ---------------------------->
          <a href="/pages/organisations">
            <div class="col s12 small">
              <div class="card-panel palette4-bg center">
                <span class="white-text font-14pt">Organisations</span>
              </div>
            </div>
          </a>

            <div class="col m4 medium">
              <a href="/pages/organisations" style="text-decoration: none; color: black;">
                <%= cl_image_tag("blacademics_organisations.jpg", width: "100%") %>
                <h5 style="font-size: 100%; text-align: center;"><strong>Organisations</strong></h5>
              </a>
            </div>


            <div class="col l4 large">
              <a href="/pages/organisations" style="text-decoration: none; color: black;">
                <%= cl_image_tag("blacademics_organisations.jpg", width: "100%") %>
                <h5 style="text-align: center;"><strong>Organisations</strong></h5>
              </a>
            </div>


          <!-- High Schooler ---------------------------->
          <a href="/pages/highschoolers">
            <div class="col s12 small">
              <div class="card-panel palette4-bg center">
                <span class="white-text font-14pt">High Schooler</span>
              </div>
            </div>
          </a>


          <div class="col m4 medium">
            <a href="/pages/highschoolers" style="text-decoration: none; color: black;">
              <%= cl_image_tag("blacademics_high_school.jpg", width: "100%") %>
              <h5 style="font-size: 100%; text-align: center;"><strong>High Schooler</strong></h5>
            </a>
          </div>


          <div class="col l4 large">
            <a href="/pages/highschoolers" style="text-decoration: none; color: black;">
              <%= cl_image_tag("blacademics_high_school.jpg", width: "100%") %>
              <h5 style="text-align: center;"><strong>High Schooler</strong></h5>
            </a>
          </div>


          <!-- All Listings ---------------------------->
          <a href="/pages/uni_students_listings">
            <div class="col s12 small">
              <div class="card-panel palette4-bg center">
                <span class="white-text font-14pt">All Listings</span>
              </div>
            </div>
          </a>


          <div class="col m4 medium">
            <a href="/pages/uni_students_listings" style="text-decoration: none; color: black;">
              <%= cl_image_tag("blacademics_all_listings.jpg", width: "100%") %>
              <h5 style="font-size: 100%; text-align: center;"><strong>All Listings</strong></h5>
            </a>
          </div>


          <div class="col l4 large">
            <a href="/pages/uni_students_listings" style="text-decoration: none; color: black;">
              <%= cl_image_tag("blacademics_all_listings.jpg", width: "100%") %>
              <h5 style="text-align: center;"><strong>All Listings</strong></h5>
            </a>
          </div>
    </div><!-- end of row -->
  </div><!-- end of container -->

  <footer class="page-footer" style="padding-left: 0px;">
  <div class="container" style="text-align: center;">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="white-text">Blacademics</h5>
        <%= cl_image_tag("blacademics_icon_horizontal.png", :width=>200, :crop=>:scale) %>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m2 offset-m2 l2 offset-l2">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col s12 m2 offset-m1 l2 offset-l1">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col s12 m2 offset-m1 l2 offset-l1">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      © 2015 Copyright Blacademics
    </div>
  </div>

</footer>

<% end %>
