<div class="container">
  <div class ="front-image">
    <%= image_tag("young-people-sitting-on-grass.jpg") %>
  </div>
</div>

  <div class="row">
    <div class="col s4">
      <div class="text-center"><h5>Events</h5></div>
        <div class="col s12">
          <% Listing.event_type.each do |event|%>
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%=event.title%></span>
              <p><%=event.short_description%></p>
            </div>
            <div class="card-action">
              <a href="/listings/<%=event.id%>">Show </a>
            </div>
          </div>
          <% end %>
        </div>
    </div>
    <div class="col s4">
      <div class="text-center"><h5>Programs</h5></div>
        <div class="col s12">
          <% Listing.program_type.each do |program|%>
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%=program.title%></span>
              <p><%=program.short_description%></p>
            </div>
            <div class="card-action">
              <a href="/listings/<%=program.id%>">Show </a>
            </div>
          </div>
          <% end %>
        </div>
    </div>
    <div class="col s4">
      <div class="text-center"><h5>Jobs</h5></div>
        <div class="col s12">
          <% Listing.job_type.each do |job|%>
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%=job.title%></span>
              <p><%=job.short_description%></p>
            <div class="card-action">
              <a href="/listings/<%=job.id%>">Show </a>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </div><!-- end of row -->

</div>

<!-- <% if user_signed_in? %>
  <% if (current_user.has_role? :student) %>
    I'm a student
  <% elsif (current_user.has_role? :organisation) %>
  I'm an org
  <% end %>
<% else %>
  <p><%= link_to 'Sign up as a Student', new_user_registration_path(user_type: 'student'), class: 'btn btn-primary' %></p>
  <p><%= link_to 'Sign up as an Organisation', new_user_registration_path(user_type: 'organisation'), class: 'btn btn-primary' %></p>
<% end %> -->
