<% if user_signed_in? %>
  <% if current_user.has_role? :admin%>
    <%= render 'layouts/sidebar' %>
      <div class="row">
        <div class="col s3">.</div><!-- do not remove the dot . -->
        <div class="col s12 m12 l8">
          <h4>Listing of Jobs</h4>
          <%= link_to 'Draft', pages_jobs_path(filter: 'draft'), class: "waves-effect waves-light btn" %>
          <%= link_to 'Approved', pages_jobs_path(filter: 'approved'), class: "waves-effect waves-light btn" %>
          <%= link_to 'Expired', pages_jobs_path(filter: 'expired'), class: "waves-effect waves-light btn" %>
          <%= link_to 'Archived', pages_jobs_path(filter: 'archived'), class: "waves-effect waves-light btn" %>
          <%= link_to 'All', pages_jobs_path(filter: 'all'), class: "waves-effect waves-light btn" %>
          <%= paginate @jobs %>
          <% @jobs.each do |job| %>
            <ul class="collection">
              <li class="collection-item avatar">
                <% if job.image_url.present? %>
                  <%= cl_image_tag(job.image_url, :alt => "", :class => "circle") %>
                <% else %>
                  <%= cl_image_tag("default_pic2_otesv3.png", :alt => "", :class => "circle") %>
                <% end %>
                <a href="/listings/<%=job.id%>">
                <span class="title"><%=job.title%></span>
                <p><%=job.short_description%></p>
                </a>
                <div class="secondary-content"><i class="material-icons">grade</i></div>
              </li>
            </ul>
          <% end %>
          <%= paginate @jobs %>
        </div>
      </div>
  <% end %>
<% end %>
