<% if user_signed_in? %>
  <% if current_user.has_role? :admin%>
    <%= render 'layouts/sidebar' %>
      <div class='margin-left'>
        <h3>Listing of Jobs</h3>
        <%= link_to 'Draft', pages_jobs_path(filter: 'draft'), class: "waves-effect waves-light btn" %>
        <%= link_to 'Approved', pages_jobs_path(filter: 'approved'), class: "waves-effect waves-light btn" %>
        <%= link_to 'Expired', pages_jobs_path(filter: 'expired'), class: "waves-effect waves-light btn" %>
        <%= link_to 'Archived', pages_jobs_path(filter: 'archived'), class: "waves-effect waves-light btn" %>
        <%= link_to 'All', pages_jobs_path(filter: 'all'), class: "waves-effect waves-light btn" %>
        <%= paginate @jobs %>
          <%= render @jobs %>
        <%= paginate @jobs %>
      </div>
  <% end %>
<% end %>
