<div class="main-pattern">
  <div class="container white-bg">
    <div class="row">
      <div class="col s12 center"><h4>View Events, Programs and Jobs</h4></div>

      <div class="col s12 m4 l4">
        <div class="text-center"><h4>EVENTS</h4></div>
        <%= render @events %>
        <h5><%= link_to "View More Events", pages_approved_events_path %></h5><br>
      </div>

      <div class="col s12 m4 l4">
        <div class="text-center"><h4>PROGRAMS</h4></div>
          <%= render @programs %>
          <h5><%= link_to "View More Programs", pages_approved_programs_path %></h5><br>
      </div>

      <div class="col s12 m4 l4">
        <div class="text-center"><h4>JOBS</h4></div>
          <%= render @jobs %>
          <h5><%= link_to "View More Jobs", pages_approved_jobs_path %></h5><br>
      </div>

    </div><!-- end of row -->
  </div>
</div>
