<div class="row">
  <div class="col s12 m8 offset-m2 l8 offset-l2"><p id="notice"><%= notice %></p>
  <div class="align-center">
    <% if @student_profile.profile_pic_url.present? %>
      <%= cl_image_tag(@student_profile.profile_pic_url, size: "300") %>
    <% else %>
      <%= cl_image_tag("default_pic1_ztn0yq.png") %>
    <% end %>
    <p class="word-wrap"><h5><%= @student_profile.title%> <%= @student_profile.first_name %> <%= @student_profile.last_name %> <%= @student_profile.letters %> <%= @student_profile.post_nominal_titles %></h5></p>
    <% if user_signed_in? %>
      <!-- messaging -->
      <% if current_user == @student_profile.user %>
        <a href="/messages?my_id=<%= current_user.id %>" class="waves-effect waves-light btn palette4-bg">View My Inbox</a>
        <!-- here, add the number of unread messages for me from contacts -->
      <% elsif (current_user.has_role? :student) || (current_user.has_role? :organisation) %>
        <a href="/messages/new?from=<%= current_user.id %>&amp;to=<%= @student_profile.user.id%>" class="waves-effect waves-light btn palette4-bg">Send Message To <%= @student_profile.first_name %></a>
      <% end %>
  </div><!-- end align-center -->

      <!-- email address can only be seen by the student profile owner or the admin, but not for public viewing -->
      <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
        <p><span class="bold">Email address: </span><%=@student_profile.user.email %></p>
      <% end %>
    <% end %><!-- end if user_signed_in?-->
    <p><span class="bold">Biography: </span><%= @student_profile.bio %></p>
    <p><span class="bold">Summary of Work History: </span><%= @student_profile.work_history %></p>
    <% unless @student_profile.resume_url.nil? %>
      <p class="word-wrap"><span class="bold">Resume name: </span><%= @student_profile.resume_url %></p>
      <p><span class="bold"><%= link_to 'Download Resume', @student_profile.resume_url %></span></p>
    <% end %>
    <% if user_signed_in? %>
      <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
      <p><%= link_to "Edit Profile", edit_student_profile_path(@student_profile), class: "btn" %></p>
      <% end %>
    <% end %>

  <!-------------------------------------------------------------->
  <div class="border-top"></div>
  <h5>Educations:</h5>
    <% @student_profile.university_educations.each do |student| %>
      <% if student.degree.present? %>
        <p class="word-wrap"><span class="bold">Qualification: </span><%= student.degree %></p>
      <% end %>

      <% if student.field_of_study.present? %>
        <p class="word-wrap"><span class="bold">Field of Study: </span><%= student.field_of_study %></p>
      <% end %>

      <% if student.university.present? %>
        <p class="word-wrap"><span class="bold">University: </span><%= student.university %></p>
      <% end %>

      <% if student.school.present? %>
        <p class="word-wrap"><span class="bold">School: </span><%= student.school %></p>
      <% end %>

      <% if student.year_ended.present? %>
        <p class="word-wrap"><span class="bold">Year Ended: </span><%= student.year_ended %></p>
      <% end %>

      <% if user_signed_in? %>
        <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
          <div class="bottom_margin_40px">
              <%= link_to "Edit | ", edit_university_education_path(student) %>
              <%= link_to "Delete", university_education_path(student), method: :delete, data: { confirm: 'Are you sure?'} %>
          </div>
        <% end %>
      <% end %><!-- end of if user signed in? -->
    <% end %><!-- end of loop -->

    <% if user_signed_in? %>
      <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
        <div class="bottom_margin_40px">
          <%= link_to "Add Education", new_university_education_path(student_profile_id: @student_profile.id), class: "btn" %>
        </div>
      <% end %>
    <% end %><!-- end of if user signed in? -->

  <!-------------------------------------------------------------->
  <div class="border-top"></div>
    <h5>Scholarships:</h5>
    <% @student_profile.scholarships.each do |scholar| %>
      <% if scholar.title.present? %>
        <p class="word-wrap"><span class="bold">Title: </span><%= scholar.title %></p>
      <% end %>

      <% if scholar.organisation.present? %>
        <p class="word-wrap"><span class="bold">Organisation: </span><%= scholar.organisation %></p>
      <% end %>

      <% if scholar.year_received.present? %>
        <p class="word-wrap"><span class="bold">Year Received: </span><%= scholar.year_received %></p>
      <% end %>

      <% if user_signed_in? %>
        <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
          <div class="bottom_margin_40px">
            <%= link_to "Edit | ", edit_scholarship_path(scholar) %>
            <%= link_to "Delete", scholarship_path(scholar), method: :delete, data: { confirm: 'Are you sure?'} %>
          </div>
        <% end %>
      <% end %><!-- end of if user signed in? -->
    <% end %><!-- end of loop -->

    <% if user_signed_in? %>
      <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
      <div class="bottom_margin_40px">
        <%= link_to "Add Scholarship", new_scholarship_path(student_profile_id: @student_profile.id), class: "btn" %>
      </div>
      <% end %>
    <% end %><!-- end of if user signed in? -->

  <!-------------------------------------------------------------->
  <div class="border-top"></div>
    <h5>Awards:</h5>
    <% @student_profile.awards.each do |award| %>
      <% if award.title.present? %>
        <p class="word-wrap"><span class="bold">Title: </span><%= award.title %></p>
      <% end %>

      <% if award.organisation.present? %>
        <p class="word-wrap"><span class="bold">Organisation: </span><%= award.organisation %></p>
      <% end %>

      <% if award.year_received.present? %>
        <p class="word-wrap"><span class="bold">Year Received: </span><%= award.year_received %></p>
      <% end %>

      <% if user_signed_in? %>
        <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
          <div class="bottom_margin_40px">
            <%= link_to "Edit | ", edit_award_path(award) %>
            <%= link_to "Delete", award_path(award), method: :delete, data: { confirm: 'Are you sure?'} %>
          </div>
        <% end %>
      <% end %><!-- end of if user signed in? -->
    <% end %><!-- end of loop -->
    <% if user_signed_in? %>
      <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
        <div class="bottom_margin_40px">
          <%= link_to "Add Award", new_award_path(student_profile_id: @student_profile.id), class: "btn" %>
        </div>
      <% end %>
    <% end %><!-- end of if user signed in? -->


  <!-------------------------------------------------------------->
  <div class="border-top"></div>
    <h5>Internships:</h5>
    <% @student_profile.internships.each do |internship| %>
      <% if internship.title.present? %>
        <p class="word-wrap"><span class="bold">Title: </span><%= internship.title %></p>
      <% end %>

      <% if internship.organisation.present? %>
        <p class="word-wrap"><span class="bold">Organisation: </span><%= internship.organisation %></p>
      <% end %>

      <% if internship.year_commenced.present? %>
        <p class="word-wrap"><span class="bold">Year Commenced: </span><%= internship.year_commenced %></p>
      <% end %>

      <% if internship.year_ended.present? %>
        <p class="word-wrap"><span class="bold">Year Ended: </span><%= internship.year_ended %></p>
      <% end %>

      <% if user_signed_in? %>
        <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
          <div class="bottom_margin_40px">
            <%= link_to "Edit | ", edit_internship_path(internship) %>
            <%= link_to "Delete", internship_path(internship), method: :delete, data: { confirm: 'Are you sure?'} %>
          </div>
        <% end %>
      <% end %><!-- end of if user signed in? -->
    <% end %><!-- end of loop -->
    <% if user_signed_in? %>
      <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
        <div class="bottom_margin_40px">
          <%= link_to "Add Internship", new_internship_path(student_profile_id: @student_profile.id), class: "btn" %>
        </div>
      <% end %>
    <% end %><!-- end of if user signed in? -->

  <!-------------------------------------------------------------->
  <div class="border-top"></div>
    <h5>Cadetships:</h5>
    <% @student_profile.cadetships.each do |cadetships| %>
      <% if cadetships.title.present? %>
        <p class="word-wrap"><span class="bold">Title: </span><%= cadetships.title %></p>
      <% end %>

      <% if cadetships.organisation.present? %>
        <p class="word-wrap"><span class="bold">Organisation: </span><%= cadetships.organisation %></p>
      <% end %>

      <% if cadetships.year_commenced.present? %>
        <p class="word-wrap"><span class="bold">Year Commenced: </span><%= cadetships.year_commenced %></p>
      <% end %>

      <% if cadetships.year_ended.present? %>
        <p class="word-wrap"><span class="bold">Year Ended: </span><%= cadetships.year_ended %></p>
      <% end %>

      <% if user_signed_in? %>
        <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
          <div class="bottom_margin_40px">
            <%= link_to "Edit | ", edit_cadetship_path(cadetships) %>
            <%= link_to "Delete", cadetship_path(cadetships), method: :delete, data: { confirm: 'Are you sure?'} %>
          </div>
        <% end %>
      <% end %><!-- end of if user signed in? -->
    <% end %><!-- end of loop -->
    <% if user_signed_in? %>
      <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
        <div class="bottom_margin_40px">
          <%= link_to "Add Cadetship", new_cadetship_path(student_profile_id: @student_profile.id), class: "btn" %>
        </div>
      <% end %>
    <% end %><!-- end of if user signed in? -->

  <!-------------------------------------------------------------->
  <div class="border-top"></div>
    <h5>Employments:</h5>
    <% @student_profile.employments.each do |employment| %>
      <% if employment.title.present? %>
        <p class="word-wrap"><span class="bold">Title: </span><%= employment.title %></p>
      <% end %>

      <% if employment.organisation.present? %>
        <p class="word-wrap"><span class="bold">Organisation: </span><%= employment.organisation %></p>
      <% end %>

      <% if employment.year_commenced.present? %>
        <p class="word-wrap"><span class="bold">Year Commenced: </span><%= employment.year_commenced %></p>
      <% end %>

      <% if employment.year_ended.present? %>
        <p class="word-wrap"><span class="bold">Year Ended: </span><%= employment.year_ended %></p>
      <% end %>

      <% if user_signed_in? %>
        <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
        <div class="bottom_margin_40px">
          <%= link_to "Edit | ", edit_employment_path(employment) %>
          <%= link_to "Delete", employment_path(employment), method: :delete, data: { confirm: 'Are you sure?'} %>
        </div>
      <% end %>
    <% end %><!-- end of if user signed in? -->
  <% end %><!-- end of loop -->
  <% if user_signed_in? %>
    <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
      <div class="bottom_margin_40px">
        <%= link_to "Add Employment", new_employment_path(student_profile_id: @student_profile.id), class: "btn" %>
      </div>
    <% end %>
  <% end %><!-- end of if user signed in? -->

  <!-------------------------------------------------------------->
  <div class="border-top"></div>
    <h5>Skills: </h5>(max. list of 40 skills)
    <% count = 0 %>
    <% @student_profile.skills.each do |skill| %>
      <p class="word-wrap">
      <% if skill.skill.present? %>
        <span class="bold"><%= count += 1 %>. <%= skill.skill %></span>
        <% if user_signed_in? %>
          <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
            <div class="bottom_margin_40px">
              <%= link_to "  Edit | ", edit_skill_path(skill) %>
              <%= link_to "Delete", skill_path(skill), method: :delete, data: { confirm: 'Are you sure?'} %>
            </div>
          <% end %>
        <% end %><!-- end of if user signed in? -->
      <% else %><!-- else if no value is entered but the user still press the 'Add' button -->
        <span class="bold"><%= count += 1 %>. </span>
        <% if user_signed_in? %>
          <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
            <div class="bottom_margin_40px">
              <%= link_to "  Edit | ", edit_skill_path(skill) %>
              <%= link_to "Delete", skill_path(skill), method: :delete, data: { confirm: 'Are you sure?'} %>
            </div>
          <% end %>
        <% end %><!-- end of if user signed in? -->
      <% end %>
      </p>
    <% end %><!-- end of loop -->

    <% if count < 40 %><!-- max 40 skills -->
      <% if user_signed_in? %>
        <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
          <div class="bottom_margin_40px">
            <%= link_to "Add Skill", new_skill_path(student_profile_id: @student_profile.id), class: "btn" %>
          </div>
        <% end %>
      <% end %><!-- end of if user signed in? -->
    <% end %><!-- end if counter is < 40 -->

  </div><!-- col s12 m8 offset-m2 l8 offset-l2 -->
</div><!-- end of row -->
