<div class="main-pattern">
  <div class="container white-bg">
    <div class="row">
      <div class="col s12 m12 l12"><p id="notice"><%= notice %></p></div>
      <div class="col s12 m12 l12 center"><%= image_tag(@student_profile.profile_pic_url, size: "300") %></div>
      <div class="col s12 m12 l12 center"><h3><strong><%= @student_profile.title%> <%= @student_profile.first_name %> <%= @student_profile.last_name %> <%= @student_profile.letters %> <%= @student_profile.post_nominal_titles %></strong></h3></div>
      <!-- email address can only be seen by the student profile owner or the admin, but not for public viewing -->
      <% if user_signed_in? %>
        <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
          <div class="col s12 m12 l12"><p><h5>Email: <%= @student_profile.user.email %></h5></p></div>
        <% end %>
      <% end %>
        <div class="col s12"><p><h5>Biography: </h5></p></div>
        <div class="col s12 m12 l12"><p><%= @student_profile.bio %></p></div>
        <div class="col s12"><p><h5>Summary of Work History: </h5></p></div>
        <div class="col s12 m12 l12"><p><%= @student_profile.work_history %></p></div>
      <% unless @student_profile.resume_url.nil? %>
        <div class="col s12 m2 l2"><p>Resume name:</p></div>
        <div class="col s12 m10 l10"><p><%= @student_profile.resume_url %></p></div>
        <div class="col s12 m12 l12"><p><%= link_to 'Download Resume', @student_profile.resume_url %></p></div>
      <% end %>
        <% if user_signed_in? %>
          <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
          <div class="col s12 m12 l12"><p><%= link_to "Edit Profile", edit_student_profile_path(@student_profile), class: "btn" %></p></div>
          <% end %>
        <% end %>
    </div>
    <!-------------------------------------------------------------->
    <div class="row">
      <div class="border-top"></div>
        <div class="col s12"><h5><bold>Education:</bold></h5></div>
          <% @student_profile.university_educations.each do |student| %>
            <div class="col s4 m2 l2"><p>Qualification: </p></div>
            <% if student.degree.present? %>
              <div class="col s8 m10 l10"><p><%= student.degree %></p></div>
            <% else %>
              <div class="col s8 m10 l10"><p>-</p></div>
            <% end %>

            <div class="col s4 m2 l2"><p>Field of Study: </p></div>
            <% if student.field_of_study.present? %>
              <div class="col s8 m10 l10"><p><%= student.field_of_study %></p></div>
            <% else %>
              <div class="col s8 m10 l10"><p>-</p></div>
            <% end %>

            <div class="col s4 m2 l2"><p>University: </p></div>
            <% if student.university.present? %>
              <div class="col s8 m10 l10"><p><%= student.university %></p></div>
            <% else %>
              <div class="col s8 m10 l10"><p>-</p></div>
            <% end %>

            <div class="col s4 m2 l2"><p>School: </p></div>
            <% if student.school.present? %>
              <div class="col s8 m10 l10"><p><%= student.school %></p></div>
            <% else %>
              <div class="col s8 m10 l10"><p>-</p></div>
            <% end %>

            <div class="col s4 m2 l2"><p>Year Ended: </p></div>
            <% if student.year_ended.present? %>
              <div class="col s8 m10 l10"><p><%= student.year_ended %></p></div>
            <% else %>
              <div class="col s8 m10 l10"><p>-</p></div>
            <% end %>

            <% if user_signed_in? %>
              <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
                <div class="col s4 m2 l2">
                  <%= link_to "Edit | ", edit_university_education_path(student) %>
                  <%= link_to "Delete", university_education_path(student), method: :delete, data: { confirm: 'Are you sure?'} %>
                </div>
                <div class="col s8 m10 l10"><br><br><br></div>
              <% end %>
            <% end %><!-- end of if user signed in? -->
          <% end %><!-- end of loop -->

          <% if user_signed_in? %>
            <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
            <div class="col s12 m6 l6"><%= link_to "Add Education", new_university_education_path(student_profile_id: @student_profile.id), class: "btn" %></div>
            <% end %>
          <% end %><!-- end of if user signed in? -->
          <br>
    </div><!-- end of row -->

          <!-------------------------------------------------------------->
    <div class="row">
      <div class="border-top"></div>
        <div class="col s12"><h5>Scholarships:</h5></div>
          <% @student_profile.scholarships.each do |scholar| %>
            <div class="col s4 m2 l2"><p>Title: </p></div>
            <% if scholar.title.present? %>
              <div class="col s8 m10 l10"><p><%= scholar.title %></p></div>
            <% else %>
              <div class="col s8 m10 l10"><p>-</p></div>
            <% end %>

            <div class="col s4 m2 l2"><p>Organisation:</p></div>
            <% if scholar.organisation.present? %>
              <div class="col s8 m10 l10"><p><%= scholar.organisation %></p></div>
            <% else %>
              <div class="col s8 m10 l10"><p>-</p></div>
            <% end %>

            <div class="col s4 m2 l2"><p>Year Received:</p></div>
            <% if scholar.year_received.present? %>
              <div class="col s8 m10 l10"><p><%= scholar.year_received %></p></div>
            <% else %>
              <div class="col s8 m10 l10"><p>-</p></div>
            <% end %>

            <% if user_signed_in? %>
              <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
                <div class="col s4 m2 l2">
                  <%= link_to "Edit | ", edit_scholarship_path(scholar) %>
                  <%= link_to "Delete", scholarship_path(scholar), method: :delete, data: { confirm: 'Are you sure?'} %>
                </div>
                <div class="col s8 m10 l10"><br><br><br></div>
              <% end %>
            <% end %><!-- end of if user signed in? -->

          <% end %><!-- end of loop -->
          <% if user_signed_in? %>
            <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
              <div class="col s12 m6 l6"><%= link_to "Add Scholarship", new_scholarship_path(student_profile_id: @student_profile.id), class: "btn" %></div>
            <% end %>
          <% end %><!-- end of if user signed in? -->
          <br>
    </div><!-- end of row -->
          <!-------------------------------------------------------------->
    <div class="row">
      <div class="border-top"></div>
        <div class="col s12"><h5><strong>Awards:</strong></h5></div>
        <% @student_profile.awards.each do |award| %>
          <div class="col s4 m2 l2"><p>Title:</p></div>
          <% if award.title.present? %>
            <div class="col s8 m10 l10"><p><%= award.title %></p></div>
          <% else %>
            <div class="col s8 m10 l10"><p>-</p></div>
          <% end %>

          <div class="col s4 m2 l2"><p>Organisation:</p></div>
          <% if award.organisation.present? %>
            <div class="col s8 m10 l10"><p><%= award.organisation %></p></div>
          <% else %>
            <div class="col s8 m10 l10"><p>-</p></div>
          <% end %>

          <div class="col s4 m2 l2"><p>Year Received:</p></div>
          <% if award.year_received.present? %>
            <div class="col s8 m10 l10"><p><%= award.year_received %></p></div>
          <% else %>
            <div class="col s8 m10 l10"><p>-</p></div>
          <% end %>


          <% if user_signed_in? %>
            <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
              <div class="col s4 m2 l2">
                <%= link_to "Edit | ", edit_award_path(award) %>
                <%= link_to "Delete", award_path(award), method: :delete, data: { confirm: 'Are you sure?'} %>
              </div>
              <div class="col s8 m10 l10"><br><br><br></div>
            <% end %>
          <% end %><!-- end of if user signed in? -->

        <% end %><!-- end of loop -->
        <% if user_signed_in? %>
          <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
            <div class="col s12 m6 l6"><%= link_to "Add Award", new_award_path(student_profile_id: @student_profile.id), class: "btn" %></div>
          <% end %>
        <% end %><!-- end of if user signed in? -->
        <br>
    </div><!-- end of row -->
          <!-------------------------------------------------------------->
    <div class="row">
      <div class="border-top"></div>
        <div class="col s12"><h5><strong>Internships:</strong></h5></div>
        <% @student_profile.internships.each do |internship| %>
          <div class="col s4 m2 l2"><p>Title:</p></div>
          <% if internship.title.present? %>
            <div class="col s8 m10 l10"><p><%= internship.title %></p></div>
          <% else %>
            <div class="col s8 m10 l10"><p>-</p></div>
          <% end %>

          <div class="col s4 m2 l2"><p>Organisation:</p></div>
          <% if internship.organisation.present? %>
            <div class="col s8 m10 l10"><p><%= internship.organisation %></p></div>
          <% else %>
            <div class="col s8 m10 l10"><p>-</p></div>
          <% end %>

          <div class="col s5 m3 l2"><p>Year Commenced:</p></div>
          <% if internship.year_commenced.present? %>
            <div class="col s7 m9 l10"><p><%= internship.year_commenced %></p></div>
          <% else %>
            <div class="col s8 m9 l10"><p>-</p></div>
          <% end %>

          <div class="col s4 m2 l2"><p>Year Ended:</p></div>
          <% if internship.year_ended.present? %>
            <div class="col s8 m10 l10"><p><%= internship.year_ended %></p></div>
          <% else %>
            <div class="col s8 m10 l10"><p>-</p></div>
          <% end %>


          <% if user_signed_in? %>
            <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
              <div class="col s4 m2 l2">
                <%= link_to "Edit | ", edit_internship_path(internship) %>
                <%= link_to "Delete", internship_path(internship), method: :delete, data: { confirm: 'Are you sure?'} %>
              </div>
              <div class="col s8 m10 l10"><br><br><br></div>
            <% end %>
          <% end %><!-- end of if user signed in? -->

        <% end %><!-- end of loop -->
        <% if user_signed_in? %>
          <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
            <div class="col s12 m6 l6"><%= link_to "Add Internship", new_internship_path(student_profile_id: @student_profile.id), class: "btn" %></div>
          <% end %>
        <% end %><!-- end of if user signed in? -->

        <br>
    </div><!-- end of row -->

          <!-------------------------------------------------------------->
    <div class="row">
      <div class="border-top"></div>
        <div class="col s12"><h5><strong>Cadetships:</strong></h5></div>
        <% @student_profile.cadetships.each do |cadetships| %>
          <div class="col s4 m2 l2"><p>Title:</p></div>
          <% if cadetships.title.present? %>
            <div class="col s8 m10 l10"><p><%= cadetships.title %></p></div>
          <% else %>
            <div class="col s8 m10 l10"><p>-</p></div>
          <% end %>

          <div class="col s4 m2 l2"><p>Organisation:</p></div>
          <% if cadetships.organisation.present? %>
            <div class="col s8 m10 l10"><p><%= cadetships.organisation %></p></div>
          <% else %>
            <div class="col s8 m10 l10"><p>-</p></div>
          <% end %>

          <div class="col s5 m3 l2"><p>Year Commenced:</p></div>
          <% if cadetships.year_commenced.present? %>
            <div class="col s7 m9 l10"><p><%= cadetships.year_commenced %></p></div>
          <% else %>
            <div class="col s8 m9 l10"><p>-</p></div>
          <% end %>

          <div class="col s4 m2 l2"><p>Year Ended:</p></div>
          <% if cadetships.year_ended.present? %>
            <div class="col s8 m10 l10"><p><%= cadetships.year_ended %></p></div>
          <% else %>
            <div class="col s8 m10 l10"><p>-</p></div>
          <% end %>


          <% if user_signed_in? %>
            <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
              <div class="col s4 m2 l2">
                <%= link_to "Edit | ", edit_cadetship_path(cadetships) %>
                <%= link_to "Delete", cadetship_path(cadetships), method: :delete, data: { confirm: 'Are you sure?'} %>
              </div>
              <div class="col s8 m10 l10"><br><br><br></div>
            <% end %>
          <% end %><!-- end of if user signed in? -->

        <% end %><!-- end of loop -->
        <% if user_signed_in? %>
          <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
            <div class="col s12 m6 l6"><%= link_to "Add Cadetship", new_cadetship_path(student_profile_id: @student_profile.id), class: "btn" %></div>
          <% end %>
        <% end %><!-- end of if user signed in? -->

        <br>
    </div><!-- end of row -->

          <!-------------------------------------------------------------->
    <div class="row">
      <div class="border-top"></div>
        <div class="col s12"><h5><strong>Employments:</strong></h5></div>
        <% @student_profile.employments.each do |employment| %>
          <div class="col s4 m2 l2"><p>Title:</p></div>
          <% if employment.title.present? %>
            <div class="col s8 m10 l10"><p><%= employment.title %></p></div>
          <% else %>
            <div class="col s8 m10 l10"><p>-</p></div>
          <% end %>

          <div class="col s4 m2 l2"><p>Organisation:</p></div>
          <% if employment.organisation.present? %>
            <div class="col s8 m10 l10"><p><%= employment.organisation %></p></div>
          <% else %>
            <div class="col s8 m10 l10"><p>-</p></div>
          <% end %>

          <div class="col s5 m3 l2"><p>Year Commenced:</p></div>
          <% if employment.year_commenced.present? %>
            <div class="col s7 m9 l10"><p><%= employment.year_commenced %></p></div>
          <% else %>
            <div class="col s8 m9 l10"><p>-</p></div>
          <% end %>

          <div class="col s4 m2 l2"><p>Year Ended:</p></div>
          <% if employment.year_ended.present? %>
            <div class="col s8 m10 l10"><p><%= employment.year_ended %></p></div>
          <% else %>
            <div class="col s8 m10 l10"><p>-</p></div>
          <% end %>

          <% if user_signed_in? %>
            <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
              <div class="col s4 m2 l2">
                <%= link_to "Edit | ", edit_employment_path(employment) %>
                <%= link_to "Delete", employment_path(employment), method: :delete, data: { confirm: 'Are you sure?'} %>
              </div>
              <div class="col s8 m10 l10"><br><br><br></div>
            <% end %>
          <% end %><!-- end of if user signed in? -->

        <% end %><!-- end of loop -->
        <% if user_signed_in? %>
          <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
            <div class="col s12 m6 l6"><%= link_to "Add Employment", new_employment_path(student_profile_id: @student_profile.id), class: "btn" %></div>
          <% end %>
        <% end %><!-- end of if user signed in? -->
        <br>
    </div><!-- end of row -->
          <!-------------------------------------------------------------->
    <div class="row">
          <div class="border-top"></div>
            <div class="col s12"><h5><strong>Skills:</strong> (up to 40 skills)<h5></div>
            <% count = 0 %>
            <% @student_profile.skills.each do |skill| %>
              <% if skill.skill.present? %>
                <div class="col s1"><p><%= count += 1 %>. </p></div>
                <div class="col s7"><p><%= skill.skill %></p></div>
                <% if user_signed_in? %>
                  <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
                    <div class="col s4"><p><%= link_to "  Edit | ", edit_skill_path(skill) %><%= link_to "Delete", skill_path(skill), method: :delete, data: { confirm: 'Are you sure?'} %></p></div>
                  <% end %>
                <% end %><!-- end of if user signed in? -->
                <br>
              <% else %><!-- if no value is entered -->
                <div class="col s8"><p><%= count += 1 %>. </p></div>
                <% if user_signed_in? %>
                  <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
                    <div class="col s4"><p><%= link_to "  Edit | ", edit_skill_path(skill) %><%= link_to "Delete", skill_path(skill), method: :delete, data: { confirm: 'Are you sure?'} %></p></div>
                  <% end %>
                <% end %><!-- end of if user signed in? -->
              <% end %>
            <% end %>

            <% if count < 40 %><!-- max 40 skills -->
              <% if user_signed_in? %>
                <% if (@student_profile.user == current_user) || (current_user.has_role? :admin)  %>
                  <div class="col s12 m6 l6"><br><%= link_to "Add Skill", new_skill_path(student_profile_id: @student_profile.id), class: "btn" %></div>
                <% end %>
              <% end %><!-- end of if user signed in? -->
            <% end %><!-- end if counter is < 40 -->
            <br><br>
    </div><!-- end of row -->
  </div><!-- end of container white-bg -->
</div><!-- end of main-pattern -->
