<!-- <p id="notice"><%= notice %></p> don't need this, it will make double notice lines-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag(@student_profile.profile_pic, size: "300") %>
    </div>
    <div class="col-md-8">
      <% if current_user.has_role? :student %>
        <p><strong>Email:</strong> <%= @student_profile.user.email %></p>
      <% end %>

      <p><strong>Title: </strong><%= @student_profile.title %></p>

      <p><strong>First name: </strong><%= @student_profile.first_name %></p>

      <p><strong>Last name: </strong><%= @student_profile.last_name %></p>

      <p><strong>Letters: </strong><%= @student_profile.letters %></p>

      <p><strong>Post Nominal Titles: </strong><%= @student_profile.post_nominal_titles %></p>

      <p><strong>Bio: </strong><%= @student_profile.bio %></p>

      <p><%= link_to "Edit Profile", edit_student_profile_path(@student_profile) %></p>
      <br>
      <p><strong>Education:</strong></p>
        <% @student_profile.university_educations.each do |student| %>
          <table class="table">
            <tr>
              <td>Degree: </td>
              <td><%= student.degree %></td>
            </tr>
            <tr>
              <td>Field of Study: </td>
              <td><%= student.field_of_study %></td>
            </tr>
            <tr>
              <td>University: </td>
              <td><%= student.university %></td>
            </tr>
            <tr>
              <td>School: </td>
              <td><%= student.school %></td>
            </tr>
            <tr>
              <td>Year Ended: </td>
              <td><%= student.year_ended %></td>
            </tr>
            </tr>
              <td>
                <%= link_to "Edit | ", edit_university_education_path(student) %>
                <%= link_to "Delete", university_education_path(student), method: :delete, data: { confirm: 'Are you sure?'} %>
              </td>
              <td></td>
            </tr>
          </table>
        <% end %>
        <p><%= link_to "Add Education", new_university_education_path(student_profile_id: @student_profile.id) %><p>
        <br>

      <p><strong>Scholarships:</strong>
      </p>
        <% @student_profile.scholarships.each do |scholar| %>
          <table class="table">
            <tr>
              <td>Title: </td>
              <td><%= scholar.title %></td>
            </tr>
            <tr>
              <td>Organisation: </td>
              <td><%= scholar.organisation %></td>
            </tr>
            <tr>
              <td>Year Received: </td>
              <td><%= scholar.year_received %></td>
            </tr>
            <tr>
              <td>
                <%= link_to "Edit | ", edit_scholarship_path(scholar) %>
                <%= link_to "Delete", scholarship_path(scholar), method: :delete, data: { confirm: 'Are you sure?'} %>
              </td>
              <td></td>
            </tr>
          </table>
        <% end %>
        <p><%= link_to "Add Scholarship", new_scholarship_path(student_profile_id: @student_profile.id) %></p>
        <br>

      <p><strong>Awards:</strong></p>
        <% @student_profile.awards.each do |aw| %>
          <table class="table">
            <tr>
              <td>Title: </td>
              <td><%= aw.title %></td>
            </tr>
            <tr>
              <td>Organisation: </td>
              <td><%= aw.organisation %></td>
            </tr>
            <tr>
              <td>Year Received: </td>
              <td><%= aw.year_received %></td>
            </tr>
            <tr>
              <td>
                <%= link_to "Edit | ", edit_award_path(aw) %>
                <%= link_to "Delete", award_path(aw), method: :delete, data: { confirm: 'Are you sure?'} %>
              </td>
              <td></td>
            </tr>
          </table>
        <% end %>
        <p><%= link_to "Add Award", new_award_path(student_profile_id: @student_profile.id) %></p>
        <br>

      <p><strong>Internships:</strong></p>
        <% @student_profile.internships.each do |intern| %>
          <table class="table">
            <tr>
              <td>Title: </td>
              <td><%= intern.title %></td>
            </tr>
            <tr>
              <td>Organisation: </td>
              <td><%= intern.organisation %></td>
            </tr>
            <tr>
              <td>Year Commenced: </td>
              <td><%= intern.year_commenced %></td>
            </tr>
            <tr>
              <td>Year Ended: </td>
              <td><%= intern.year_ended %></td>
            </tr>
            <tr>
              <td>
                <%= link_to "Edit | ", edit_internship_path(intern) %>
                <%= link_to "Delete", internship_path(intern), method: :delete, data: { confirm: 'Are you sure?'} %>
              </td>
              <td></td>
            </tr>
          </table>
        <% end %>
        <p><%= link_to "Add Internship", new_internship_path(student_profile_id: @student_profile.id) %></p>
        <br>

    </div> <!-- end of col-md-8 -->
  </div> <!-- end of row -->
</div> <!-- end of container-fluid -->
