<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

      <input class="boolean optional" type="checkbox" value="1" name="category[highschool]" id="category_highschool" /><label class="boolean optional checkbox" for="category_highschool">Highschool</label>
      <div class="taglines">Mentoring, Development, Pre-Tertiary programs and Winter and Summer schools</div>
    <p><strong>Undergraduate</strong></p>
    <%= f.input :highschool, label: 'Direct Access: ATAR and OP, Indirect Access: Pathway, Enabling, Admissions, Preparatory and Bridging programs' %>

    <p><strong>Postgraduate</strong></p>
    <%= f.input :postgraduate, label: 'Masters, Honours and PhD programs' %>

    <p><strong>Employment</strong></p>
    <%= f.input :employment, label: 'Internships, Cadetships, Traineeships and Jobs ' %>

    <p><strong>Community</strong></p>
    <%= f.input :community, label: 'Aboriginal and Torres Strait Islander peoples and organisations' %>

    <% if params[:event_id] %>
      <%= f.input :event_id, :as => :hidden, input_html: { value: params[:event_id]} %>
      <!-- Use the :input_html option  to pass any html attribute (:event_id) straight to the input -->
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
