<p id="notice"><%= notice %></p>

<p>
  <strong>Scschool mentor:</strong>
  <%= @category.scschool_mentor %>
</p>

<p>
  <strong>Scschool tutor:</strong>
  <%= @category.scschool_tutor %>
</p>

<p>
  <strong>Scschool teen:</strong>
  <%= @category.scschool_teen %>
</p>

<p>
  <strong>Scschool leader:</strong>
  <%= @category.scschool_leader %>
</p>

<p>
  <strong>Scschool aspiration:</strong>
  <%= @category.scschool_aspiration %>
</p>

<p>
  <strong>Scschool enabling:</strong>
  <%= @category.scschool_enabling %>
</p>

<p>
  <strong>Scschool events:</strong>
  <%= @category.scschool_events %>
</p>

<p>
  <strong>Uni enabling:</strong>
  <%= @category.uni_enabling %>
</p>

<p>
  <strong>Uni aspiration:</strong>
  <%= @category.uni_aspiration %>
</p>

<p>
  <strong>Uni undergrad:</strong>
  <%= @category.uni_undergrad %>
</p>

<p>
  <strong>Uni postgrad:</strong>
  <%= @category.uni_postgrad %>
</p>

<p>
  <strong>Uni uap:</strong>
  <%= @category.uni_uap %>
</p>

<p>
  <strong>Uni tutor:</strong>
  <%= @category.uni_tutor %>
</p>

<p>
  <strong>Uni events:</strong>
  <%= @category.uni_events %>
</p>

<p>
  <strong>Scholar secondary:</strong>
  <%= @category.scholar_secondary %>
</p>

<p>
  <strong>Scholar tertiary:</strong>
  <%= @category.scholar_tertiary %>
</p>

<p>
  <strong>Scholar bursaries:</strong>
  <%= @category.scholar_bursaries %>
</p>

<p>
  <strong>Scholar grants:</strong>
  <%= @category.scholar_grants %>
</p>

<p>
  <strong>Scholar events:</strong>
  <%= @category.scholar_events %>
</p>

<p>
  <strong>Empl intern:</strong>
  <%= @category.empl_intern %>
</p>

<p>
  <strong>Empl cadet:</strong>
  <%= @category.empl_cadet %>
</p>

<p>
  <strong>Empl trainee:</strong>
  <%= @category.empl_trainee %>
</p>

<p>
  <strong>Empl jobs:</strong>
  <%= @category.empl_jobs %>
</p>

<p>
  <strong>Empl events:</strong>
  <%= @category.empl_events %>
</p>

<p>
  <strong>Sector conferences:</strong>
  <%= @category.sector_conferences %>
</p>

<p>
  <strong>Sector events:</strong>
  <%= @category.sector_events %>
</p>

<p>
  <strong>Event:</strong>
  <%= @category.event %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
