<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
  <title><%= content_for?(:title) ? yield(:title) : "Blacademics" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<% @pre_launch_landing = true %>
	<% if !@pre_launch_landing %>
		<%= render 'layouts/navbar' %>
	<% end %>
	  	<%= yield %>
	<script>
	$(document).ready(function() {
	    $('select').material_select();
			$('.button-collapse').sideNav({
				menuWidth: 250, // Default is 240
				edge: 'right', // Choose the horizontal origin
				closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
			});
			$(".dropdown-button").dropdown({
				hover: true
			});
			$('.datetimepicker').datetimepicker({
			  format:'d M Y H:i'
			});
			$('.collapsible').collapsible({
	      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
	    });
			$('.parallax').parallax();

	  });
	</script>
</body>

</html>
